[2021-01-04 11:55] HectorRDB commented on #75
Note that `edgeR` had a different solution to this problem: when testing against a threshold, only a simple ttt/ctl threshold is possible (see the `glmTreat` function [help](https://rdrr.io/bioc/edgeR/man/glmTreat.html)).
In that setting, logFc would only make sense for the `startVSEndTest` and the `diffEndTest`.
I'm not saying that we should do this. However, this shows that 1/ it is indeed a tri

[2021-01-04 11:56] #98 closed

[2021-01-04 12:02] HectorRDB commented on #105
Hi @scideas,
i can help with that issue. Please email you data at hector dot rouxdebezieux at berkeley dot edu.
Best

[2021-01-04 18:03] adamgayoso opened #107 "output of predictCells and predictSmooth"
Hello,

I'm curious about the output of the gam predictions.

1. For predictCells, does this provide \eta as defined in the manuscript?
![Screen Shot 2021-01-04 at 10 02 59 AM](https://user-images.githubusercontent.com/10859440/103564807-08752580-4e74-11eb-8814-101023fc984c.png)

2. For predictSmooth, is this just \eta without the addition of the observed covariates/offset (and at a range of pseud

[2021-01-05 04:55] scideas commented on #105
Email sent- thanks, Hector

[2021-01-05 08:38] HectorRDB commented on #105
Hi @scideas
I have received your email. I pinpointed the issue: there is a bug in the code such that is fails when there is 10 or more lineages present. This is clearly a bug in our side and I will work to fix it (and update you when this is done).
Having just a subset of the data, it is hard to judge but just note that, in our experience, it is rare for that many lineages to be meaningful, i.e. t

[2021-01-05 09:30] HectorRDB commented on #105
Hi @scideas
The latest commit should have fixed the issue. Please use the latest `tradeSeq` version from github using
[code]
and let me know if that fixes that bugs.
Best

[2021-01-05 09:31] HectorRDB commented on #105
@koenvandenberge
I think I fix all those problems but if you have time, could you review the latest [commit](https://github.com/statOmics/tradeSeq/commit/e1ba81b3934dc0391cdf5667baa60305ee7c5c4f) and check I have not missed anything...
Thanks

[2021-01-05 09:37] HectorRDB commented on #107
Hey @adamgayoso
Thanks for this comment. That is correct for the `predictCells` function.
For `predictSmooth`, this is \eta using the same observed covariates and offset for all points. For now, we use the values of the first cell, although I now realize it may not be the best way to do it.

In practice, we do not use `predictCells` a lot but `predictSmooth` allows to do clustering of gene pattern

[2021-01-05 10:55] TJonCooper opened #108 "clusterExpressionPatterns Error"
I'm using the data provided here: https://kstreet13.github.io/bioc2020trajectories/articles/workshopTrajectories.html - specifically, data/sce.rda - with the latest dev version of tradeSeq. I'm trying to run clusterExpressionPatterns but running into an issue:

[code]
I may be missing something here or is this an issue with multiple conditions?

**Session info**
[code]

[2021-01-05 15:28] Roedani opened #109 "Differential expression"
Hello,
I did the Trajectory Inference and Differential progression, but when I tried to do the Differential expression to get the Select number of knots I could not move forward.
set.seed(3)
icMat <- evaluateK(counts = as.matrix(assays(sce_2)$counts),
                   pseudotime = colData(sce_2)$slingPseudotime_1,
                   cellWeights = colData(sce_2)$slingshot$cellWeights.V1,

[2021-01-05 16:42] adamgayoso commented on #107
Yes I'd like to use `predictSmooth` for clustering gene patterns -- just wanted to make sure I understood it.

It might be helpful to provide the option to return just the pseudotime component for `predictSmooth`. Or at least make more clear in the documentation what it outputs in the notation of your manuscript.

Thanks!

[2021-01-05 16:45] HectorRDB commented on #109
Hi @Roedani
Could you share the output of
[code]
Best

[2021-01-05 16:54] HectorRDB commented on #19
Given that this is now the full version of `tradeSeq` and not just a branch, I will close that issue and let users open another one if (when?) needed

[2021-01-05 16:54] #19 closed

[2021-01-05 16:57] HectorRDB commented on #72
Closing because of inactivity.
@ashwinikumarkulkarni we are still very interested in that idea. Let us know if you need some help making a vignette.
Best

[2021-01-05 16:57] #72 closed

[2021-01-05 16:58] HectorRDB commented on #78
Hi @lc822
Sorry for missing this. You can ran `fitGAM` and then use the `plotSmoothers` function.

[2021-01-05 17:06] HectorRDB commented on #96
Sorry, It's very challenging to design a function where the points and the curves can be in different colors scales, and have those scales by user-defined so there is really no plan short term to make this.
Right now, the user can choose the colors of the points. The color of the lines is fixed, using the viridis scale. I may be possible to change it by tweaking the final ggplot object manually bu

[2021-01-05 17:08] HectorRDB commented on #105
Update: my first fix had a lot of bugs but it now seems to be working correctly

[2021-01-05 17:20] ashwinikumarkulkarni commented on #72
I have a working code for this! I will clean it and post it in near future! Thanks again!

[2021-01-05 17:22] Roedani commented on #109
class: SingleCellExperiment
dim: 14571 1633
metadata(0):
assays(2): counts logcounts
rownames(14571): Sox17 Mrpl15 ... Emx2 AC125149.2
rowData names(0):
colnames(1633): AAACCTGCACGACTCG-1_1 AAACCTGCATCTATGG-1_1 ... TTTGGTTAGAATGTTG-1_2
  TTTGGTTTCCAAGTAC-1_2
colData names(9): orig.ident nCount_RNA ... slingClusters slingPseudotime_1
reducedDimNames(2): PCA UMAP
altExpNames(0):

Error in h(simpleEr

[2021-01-05 17:29] Roedani commented on #109
Sorry I had to change a little in the code to have results
print(SlingshotDataSet(sce_2))
class: SlingshotDataSet

 Samples Dimensions
    1633          2

lineages: 1
Lineage1: CTRL  tumor

curves: 1
Curve1: Length: 42.807	Samples: 1633

[2021-01-05 18:16] TJonCooper commented on #108
With the very latest commit, the error has now changed to:

[code]

[2021-01-05 22:02] HectorRDB commented on #107
If you want to do clustering, I would recommend scaling after running `predictSmooth`. You might also find the the `clusterExpressionPatterns` function useful. It relies on the clusterExperiment package and clusters on the output of `predictSmooth`, after centering and scaling to have a variance of 1.

I will update the documentation, thanks for the advice

[2021-01-05 22:07] HectorRDB commented on #109
Can you try to just run
[code]

[2021-01-05 22:09] HectorRDB commented on #108
The error now comes from the `bioc2020trajectories` package, the sce object needs to be updated to be compatible with the latest version of `tradeSeq`. I will notify you here as soon as that is done.
Best,

[2021-01-06 02:54] Roedani commented on #109
Hi Hector,

That code worked perfect
<img width="615" alt="Screen Shot 2021-01-05 at 9 41 19 PM" src="https://user-images.githubusercontent.com/74432483/103722898-f2b04f00-4f9e-11eb-8ebb-5ce84fe015b5.png">

Thanks so much I really appreciate for quick and kind response

right now is running the fitGAM
sce <- fitGAM(counts = sce_2,
              conditions = factor(colData(sce_2)$stim),

[2021-01-06 04:57] scideas commented on #105
Thanks, Hector- I will give it a shot and let you know how it goes

[2021-01-06 10:40] ATpoint commented on #106
Hello @koenvandenberge, thanks for your reply.

I think it would be a valuable addition that opens up the tool to a broader userbase. Within-sample comparisons are all fine but I personally (please don't get me wrong here, I just want to give constructive criticism) would find a tool that does not support inter-condition comparisons (pertubation vs mock, disease vs healthy) not really attractive,

[2021-01-06 18:36] Roedani commented on #109
Hi Hector,

I could  go through out the script, thanks so much for all of your help.

About this picture bellow, it is possible to make the level of gene expression in order?
<img width="767" alt="Screen Shot 2021-01-06 at 1 04 15 PM" src="https://user-images.githubusercontent.com/74432483/103805132-2b910800-5021-11eb-8ce3-ca7625ac8a88.png">

like in this figure.
![Screen Shot 2021-01-06 at 1 34 0

[2021-01-07 06:23] scideas commented on #105
Update:
I was able to get that function to run- thanks! However, I got hung up in a subsequent step:

counts <- counts(sce)
sigGeneStart <- names(sim)[oStart[4]]
plotSmoothers(sim, counts, gene = sigGeneStart)
plotGeneCount(sim, counts, gene = sigGeneStart)

The Error traceback I encountered happened during plotSmoothers(), saying that the matrix was 'NULL':
![image](https://user-images.githubuser

[2021-01-07 09:58] HectorRDB commented on #105
Hi @scideas
Could you tell me what the `sim` object is? Is this the output from slingshot or from the `fitGAM` function?

[2021-01-07 10:01] HectorRDB commented on #109
Hi @Roedani
In the second plot you shared, all the genes are behaving the same way. This is not the case in the first plot so it will be up to you to decide how to group them.
You can look at the `pheatmap` package to see how to order the data row-wise. As a first step, I would recommend sorting the genes by the pseudotime at which they reach their maximum value and using that as an ordering.
Best

[2021-01-07 10:04] HectorRDB commented on #108
Hi,
The latest commit on the `bioc2020trajectories` repo will fix the error.
Please reinstall both packages from github and it should be ok
[code]
Best

[2021-01-07 11:07] TJonCooper commented on #108
Confirmed working. Thank you!

[2021-01-07 11:21] HectorRDB commented on #108
Thanks for pointing this out.

[2021-01-07 11:21] #108 closed

[2021-01-07 12:01] HectorRDB commented on #106
The latest version of tradeSeq now allows for the conditionTest to be run only between some knots. For example, to look only at the beginning of the trajectory, add the option `knots=c(1,2)`. Note however that the number of significantly DE genes is expected to drop quite a lot.

[2021-01-07 12:57] TJonCooper opened #110 "Clarifying usage of clusterExpressionPatterns when multiple conditions exist"
[code]

As far as I understand, clusterExpressionPatterns first employs predictSmooth for each gene listed and centres + scales the data to have a variance of 1 - is that correct?. When multiple conditions are present, dd contains 40 columns (presumably 1:20, 21:40 split by condition - which is which condition?) and it has scaled the entire vector.

Is there any way to prevent it from splitting by

[2021-01-07 13:27] HectorRDB commented on #110
Hi @TJonCooper
1/ It's not entirely clear to me what you mean. When we cluster, each gene is assigned to one cluster based on its estimated mean expression. This mean expression is condition-dependent and lineage-dependent since we fit a smoother for every lineage and condition. However, the gene itself is assigned to only one cluster (i.e. that cluster assignment is not lineage or condition speci

[2021-01-07 14:00] Roedani commented on #109
Hi @HectorRDB
Thanks again for the advice I will try that and let you know.

I have another question:
I have a new data, which I performed hashing using the Biolegend TotalseqA and in the evaluateK step is taking awhile to run, is that ok?
![Screen Shot 2021-01-07 at 8 57 54 AM](https://user-images.githubusercontent.com/74432483/103900968-7b75da80-50c6-11eb-8b85-b04dc2d0a225.png)

class: Slingshot

[2021-01-07 14:19] scideas commented on #105
Yes, it is a slingshot object that contains the output from fitGAM. It’s the same as the file I sent Hector.

Thanks,
Aaron

[2021-01-07 22:01] ark2173 commented on #103
Hi! uninstalling and reinstalling seemed to work for me

[2021-01-07 22:01] #103 closed

[2021-01-12 16:54] guillemsanchezsanchez1996 opened #111 "heatmap using one lineage"
Dear all,
Thank you for this fantastic package, I have tried different strategies for lineage tracing but your tool is extremely useful and straightforward to use.

I've been following your useful code posted here --> [https://kstreet13.github.io/bioc2020trajectories/articles/workshopTrajectories.html#visualization-of-de-genes]
to analyse my own dataset. Regarding your DGE heatmap code... I'm a li

[2021-01-12 20:45] koenvandenberge commented on #111
Hi @guillemsanchezsanchez1996

Thanks for your interest, and for your feedback on the workshop!

The `predictSmooth` function you are referring to returns a matrix, with genes in the rows and a grid of estimated smoother values in the columns. Note that the name of each column should tell you the lineage and the grid point. In your case, based on the column names of your heatmap, it indeed looks l

[2021-01-13 08:56] TJonCooper commented on #110
Many thanks for your reply - this brings clarity to my issues. One more question: from the above code, `dd<-clusPat$yhatScaled`, it's not immediately clear which columns pertain to which condition? The headings are "l1:t0" for example, so we can distinguish lineages, but I don't see anything specifying the condition. Is this something you can add?

[2021-01-13 09:48] guillemsanchezsanchez1996 commented on #111
aaaaaaaaja! yes it helped a lot!! The main problem was the 3x50 grid points....sometimes one gets stuck with the most trivial things......now the heatmap looks nice :)

![image](https://user-images.githubusercontent.com/59885051/104435539-ce4f0680-558c-11eb-8d19-65328815f5d1.png)

thanks a lot for your quick response,

Guillem

[2021-01-14 05:10] scideas commented on #105
Hey @HectorRDB, I'm sure you've got plenty on your plate, but I was curious whether you'd been able to look further into issue I ran into with plotSmoothers? The odd issue I had with the input vector showing that the pseudotime matrix input.

I can resend the slingshot+tradeSeq object via email if you'd like. So close to the finish line, but disappointed I can't get to the best part after getting

[2021-01-14 05:25] HectorRDB commented on #105
Hi @scideas
Indeed it's a bit packed but I should have some time on Friday
Best

[2021-01-16 06:32] HectorRDB commented on #105
HI @scideas,
I cannot reproduce the issue with your data. Could you let me know what `sigGeneStart`. Specifically, can you confirm that it is only one gene?
Thanks

[2021-01-16 19:42] scideas commented on #105
Hey @HectorRDB Thanks for looking into this. You actually inadvertently solved my problem! It is indeed working now! I must've modified my SingleCellExperiment object in some way prior to running that function, because after I reloaded the object I sent you it actually worked like a charm. Thank you so much for resolving this issue- time for me to start digging into all the goldmine of data now! :

[2021-01-17 18:21] #105 closed

[2021-01-20 17:47] lsole92 commented on #110
Hi!
I have been using this amazing package for my analysis. I have two conditions across the same trajectory and now I would like to plot a heatmap showing the DEG in the trajectories of my two conditions (like you did in the Trajectories workshop). However, I am having some problems that I think are related to the scaling by condition and not by lineage of predictSmooth, like you were discussing

[2021-01-20 20:17] HectorRDB commented on #110
Hi @TJonCooper
To reply to your final question:
The latest devel version of tradeSeq now uses the notation l1_2 (for lineage 1, condition 2 for example) so it should be clearer now. Thanks for pointing this out

[2021-01-20 20:17] HectorRDB commented on #110
@lsole92
Thanks for using tradeSeq, we're glad you like it.
I am unsure about the plots you showed. The first one looks like the output of `plotSmoothers` but there seems to be no condition there. The second is a heatmap but it's not clear what 4 blocks (two by two) represent. Is that the lineages and the conditions? Moreover, it does not look like any scaling was done in the heatmap (i.e. values

[2021-01-21 11:58] sarahpenir opened #112 "fitGAM: Error in .local(counts, ...) : unused argument (conditions = NULL)"
First of all, thank you for this tool!

I am running an updated version of tradeSeq `(v 1.4.0)`. The function `evaluateK` works with an `sce` object. However, the `fitGAM` function throws the following error on an `sce` object:

`GAM <- fitGAM(sce, nknots = 6, parallel=TRUE, BPPARAM = BPPARAM, verbose = TRUE)`
 `Error in .local(counts, ...) : unused argument (conditions = NULL)`

If I do a workaro

[2021-01-21 17:02] HectorRDB commented on #112
Hi @sarahpenir ,
Can you try re-installing from github to see if this fixes the issue?
Best,

[2021-01-21 17:59] HectorRDB commented on #39
Well better late than never...
There is now a new option called `curvesCol` in the `plotSmoothers` function that allows users to specify colors for each curve independently.
You can use this with the latest version of `tradeSeq` from github.
Best

[2021-01-21 18:00] koenvandenberge commented on #39
Awesome, thanks Hector!!

[2021-01-21 18:00] HectorRDB commented on #96
Well I ended up having the same issue (3 lineages and 3 conditions) and that forced me to be more creative ...
There is now a new option called `curvesCol` in the `plotSmoothers` function that allows users to specify colors for each curve independently.  You can use this with the latest version of `tradeSeq` from github.
Still a little work remaining on adding a legend, I'll work on that next.
Bes

[2021-01-22 10:30] #111 closed

[2021-01-22 10:32] koenvandenberge commented on #104
Closing due to inactivity, let us know if anything is still unclear.

[2021-01-22 14:04] koenvandenberge commented on #75
I just finished updating the associationTest and have implemented the points we discussed above.
There are two new arguments:

 - `nPoints` to define the number of points per lineage you'd like to compare.
 - `contrastType` to define the contrast type you'd want to use. It has three options:
   1. `"start"` where each point is compared to the start of each lineage.
   2. `"end"` where each point i

[2021-01-24 23:02] kmshort commented on #104
Hi @koenvandenberge
Sorry I have been on an extended holiday/vacation, so have been AFK for a long time.

So with the Wald test statistic, if a high value can also represent a gene with low variation only, could that also then include genes which are not DE across pseudotime - where those non DE genes are just of really low variance?

I think I will have to use the l2fc argument, because it's not

[2021-01-25 14:48] yuGithuuub commented on #72
Look forward to your work！

[2021-01-25 15:25] yuGithuuub commented on #104
Hi @koenvandenberge：
I have the same question.
How can I distinguish the two types of genes that have high waldStat value  in the same lineage , but with opposite trends?
as follows ：
![image](https://user-images.githubusercontent.com/52593722/105725972-8654ba00-5f64-11eb-8b3b-44377551120a.png)
![image](https://user-images.githubusercontent.com/52593722/105726011-92d91280-5f64-11eb-836a-86c5e1de94

[2021-01-26 17:20] balthasar0810 opened #113 "fitGAM and evaluateK expect raw counts?"
Dear all,

just a quick technical question. Do fitGAM and evaluateK expect raw counts (so, integer counts)?

Thanks, best, Chris

[2021-01-26 17:22] HectorRDB commented on #113
Yes it does

[2021-01-26 17:22] #113 closed

[2021-01-26 17:50] sarahpenir commented on #112
Thanks, it is working now!

[2021-01-26 17:50] #112 closed

[2021-01-26 19:26] sarahpenir opened #114 "plotSmoothers: pointCol not coloring cells according to passed variable + border = TRUE only returns the smoother in white"
Good day! I am using the latest version of the package in Github (just updated today).

When using `plotSmoothers` with an `sce` object, I noticed that it doesn't color the cells according to the variable passed to `pointCol` but is stored in the `$data` slot of the resulting `ggplot` object as `pCol`. I suspect it's missing `aes(color = pCol)` in the `geom_point` argument? But this can be remedie

[2021-01-26 19:41] koenvandenberge commented on #114
Hi @sarahpenir,

Thanks very much for picking this up and pointing it out; both issues should have been fixed now if you install the latest version.

Best,
Koen

[2021-01-26 19:43] HectorRDB commented on #114
Haha @koenvandenberge we should have coordinated :)
Made a small change that is more ggplot friendly :)

[2021-01-27 08:03] sarahpenir commented on #114
Thank you so much for working on this quickly! Can confirm that it's working now :)

All the best,
Sarah

[2021-01-27 08:03] #114 closed

[2021-01-27 09:40] balthasar0810 opened #115 "Getting error when running fitGAM and evaluateK"
Hi everybody,

running fitGAM and evaluateK, I am always getting the same error:
Error in gam.fit4(x, y, sp, Eb, UrS = UrS, weights = weights, start = start,  :
  inner loop 3; can't correct step size

My code for fitGAM is:
set.seed(7)
pseudotime <- slingPseudotime(seuObj.slingshot, na = FALSE)
cellWeights <- slingCurveWeights(seuObj.slingshot)
sce <- fitGAM(counts = as.matrix(seuObj@assays$RNA@c

[2021-01-27 10:05] balthasar0810 commented on #115
Just to add: evaluateK starts working and throws this error at 21%.
|+++++++++++                                       | 21% ~41m 03s

Chris

[2021-01-27 10:06] koenvandenberge commented on #115
Hi Chris,

This is an error a few other users have reported and should be fixed in the most recent versions of `tradeSeq`. Could you please try re-installing from our Github page and trying again?

Thanks,
Koen

[2021-01-27 10:09] balthasar0810 commented on #115
Thanks so much for the quick reply. I will do and give you feedback. Chris

[2021-01-27 23:24] balthasar0810 commented on #21
What is the solution? I am also running evaluateK, it finishes but doesn't show the plots?!

[2021-01-28 03:54] HectorRDB commented on #21
Hi @balthasar0810
Can you please clarify a bit more (i.e. version of tradeSeq that you are using, OS and such)
Best,

[2021-01-28 11:39] balthasar0810 commented on #21
Hi,

I downloaded the Github version of tradeSeq yesterday. I am using a Macbook with Catalina 10.15.4. Please find below the complete session info from RStudio below.

Chris

─ Session info ──────────────────────────────────────────────────────────────────────────────────
 setting  value
 version  R version 4.0.2 (2020-06-22)
 os       macOS Catalina 10.15.4
 system   x86_64, darwin17.0
 ui

[2021-01-28 11:42] balthasar0810 commented on #115
It works now. Still getting warnings:
In max(abs(logR)) : no non-missing arguments to max; returning -Inf

Don't know what this means. Unfortunately, evaluateK does not show the expected plots (no plots at all). I pointed this out in another issue.

Thanks, Chris

[2021-01-28 11:51] koenvandenberge commented on #115
Hi @balthasar0810

Thank you for getting back to us. Could you provide us with a reproducible example (e.g. using a subset of your data) so that we could look into it?

[2021-01-28 17:32] HectorRDB commented on #21
HI @balthasar0810 ,
The very latest tradeSeq commit adds a new function named `plot_evalutateK_results` that takes the output from `evaluateK` as input. This should generate the plots. If it does not, it means that there is something weird with your graphic device process.
Do you see a plot when you do
[code]
Best

[2021-01-28 17:57] balthasar0810 commented on #21
Thanks. I just installed again from GitHub with install_github (tradeSeq_1.5.03) but it does not seem to contain such a function.

[2021-01-28 18:05] HectorRDB commented on #21
My bad, I forgot to change the version number... This should work now.

[2021-01-28 18:41] balthasar0810 commented on #21
The plots are there, thanks! But, they look different from the vignette. Don't know if this has sth to do with my data or code-related stuff.
<img width="900" alt="Screen Shot 2021-01-28 at 7 41 16 PM" src="https://user-images.githubusercontent.com/10234124/106183711-dddf6980-61a0-11eb-81fe-3c1b0951a929.png">

[2021-01-28 19:03] HectorRDB commented on #21
Are you using the data from the vignette? If not, then it is expected. Otherwise, I will check this

[2021-01-28 19:29] balthasar0810 commented on #21
It is my own data. How is this expected? For instance, I thought the second plot is supposed to decline...

[2021-01-30 03:48] #109 closed

[2021-02-01 00:35] kmshort opened #116 "plotSmoothers - flipped lineage line and point colours?"
Hi,

Using plotSmoothers, I've noticed that the colouration is being mixed up between the points and the lineage lines.

![Six3_NPD_LPD](https://user-images.githubusercontent.com/7980275/106402312-073c1600-647d-11eb-96a1-9ca39c00eb7e.png)

Lineage1 is purple and Lineage2 is yellow, and likewise for the cell points.
I know the cells of Lineage2 (NPD) don't express that gene, which can be seen with

[2021-02-01 05:30] HectorRDB commented on #116
Hi @kmshort
Thanks for noticing this, it is indeed quite strange. I did not notice this behavior before. Could you please share the exact command you used to run plotSmoothers?

[2021-02-01 05:54] kmshort commented on #116
Hi @HectorRDB,

`plotSmoothers(seurat_sce_ss_UMAP_ts, e14_counts, gene = "Six3", alpha = 0.1) + ggtitle("Six3")`

[2021-02-01 06:27] HectorRDB opened #117 "AssociationTest returns NA"
The output of `associationTest` returns NA for all columns expect for the meanLogFC. The error does not appear on the website, suggesting it might be due to local package incompatibility.
@koenvandenberge Do you have the same issue?

[2021-02-01 06:29] HectorRDB commented on #116
Hi,
Thanks for this.  Can you just confirm that you have the latest version of tradeSeq installed?

[2021-02-01 06:37] kmshort commented on #116
Hi @HectorRDB ,

I'm running:
`tradeSeq_1.4.0`
as reported by sessionInfo()

[code]

[2021-02-01 07:43] koenvandenberge commented on #117
Thanks for spotting! This was because, when using the new contrasts, inverting the variance-covariance matrix the way we used to do it (using `qr.solve`) fails. Inverting via Cholesky decomposition is now the default.

[2021-02-01 16:20] Roedani opened #118 "fitGAM for sample using Hashing (HTO)"
Dear @koenvandenberge,

Sorry for asking another help, but I am using a new data set, which I have hashing samples and I was able to perform the differential expression and evaluateK.
<img width="231" alt="Screen Shot 2021-02-01 at 11 16 01 AM" src="https://user-images.githubusercontent.com/74432483/106485682-e07edf00-647e-11eb-9e9f-c04f14a8943f.png">
<img width="667" alt="Screen Shot 2021-02-01 a

[2021-02-01 17:37] HectorRDB commented on #117
That dit it. Thanks!!

[2021-02-02 00:48] HectorRDB commented on #116
Hi @kmshort
Can you please update to the latest tradeSeq version from github. Thanks

[2021-02-02 02:20] kmshort commented on #116
Hi @HectorRDB

I've upgraded:

[code]

and the behavior is the same:

![Six3_NPD_LPD_ps_ts1 55](https://user-images.githubusercontent.com/7980275/106543151-493a8a00-6559-11eb-968d-b94080ddfd08.png)

[2021-02-02 04:25] HectorRDB commented on #116
Ok. I cannot reproduce the error.
Could you email me the tradeSeq output and count matrix so that I can investigate? Thanks
hector dot rouxdebezieux at berkeley dot edu

[2021-02-02 07:10] kmshort commented on #116
Hi Hector,

I have sent you the two files.

thanks

[2021-02-02 16:44] HectorRDB commented on #116
Thanks I received them and I have the same bug on my machine. I will investigate then

[2021-02-02 17:02] HectorRDB commented on #116
Got it!! It was linked to some weird ordering of the condition vector. Thanks for spotting this!!!
It should be fixed now if you re-install the very latest tradeSeq version from tradeSeq.
Best

[2021-02-02 22:12] kmshort commented on #116
HI @HectorRDB ,

Many thanks, it's working properly now in my hands as well.

[code]

best regards

[2021-02-02 22:18] HectorRDB commented on #116
It is possible but  it would only happen if the levels of the condition did not match the alphabetical order, which is why we never spotted it. Note also that this was only for plotting, not any other functions.
Best,

[2021-02-02 22:18] #116 closed

[2021-02-02 22:35] kmshort opened #119 "conditionTest - provide l2fc in output"
At the moment, conditionTest outputs: gene, waldStat, df and pvalue.

The inclusion of the l2fc threshold argument in conditionTest enables condition testing of genes within a lineage that have a user defined log2FC.

against indicates that log2FC is somewhere used to prefilter the differences between conditions, but doesn't show the calculated values for the log2FC the genes that pass the l2fc th

[2021-02-03 10:32] koenvandenberge commented on #118
Hi Rodrigo,

Based on the `fitGAM` error it looks like you are working with a version of `tradeSeq` that has not yet implemented fitting using different conditions, but then it is unexpected that the `evaluateK` code is working. Are you working with the latest version of `tradeSeq`?
Also, in your `fitGAM` code, it seems like you might have forgotten to provide the trajectory information, i.e., the

[2021-02-03 10:57] koenvandenberge commented on #104
Hi @kmshort no need to apologize for taking some time off :).
Note that if you've used the `l2fc` argument the Wald test statistic will be adjusted based on that (it isn't the same test statistic as when `l2fc=0`). So you can still use the test statistic to rank the genes after imposing the threshold. We have not yet implemented adding an average/median/... logFC for the conditionTest, but we'll l

[2021-02-03 11:02] koenvandenberge commented on #119
Discussion deferred to #104.

[2021-02-03 11:02] #119 closed

[2021-02-03 11:30] GAgafencu opened #120 "Cholmod error 'problem too large' at file ../Core/cholmod_dense.c, line 105"
Dear tradeSeq team,

Thanks for providing this interesting analysis tool for the community. I am trying to establish to use this tool to understand gene-expression patterns across and and between trajectories. After running this piece of code on a SingleCellExperiment object generated from a Seurat one that contains scRNA-seq data from 74430 cells generated using a 10XGenomics Chromium V2 kit:

sc

[2021-02-03 11:48] kmshort commented on #104
`Note that if you've used the l2fc argument the Wald test statistic will be adjusted based on that (it isn't the same test statistic as when l2fc=0). So you can still use the test statistic to rank the genes after imposing the threshold. We have not yet implemented adding an average/median/... logFC for the conditionTest, but we'll look into it...`

As you've already said though, ranking the genes

[2021-02-03 11:52] koenvandenberge commented on #120
Thank you for reporting @GAgafencu.

Is the count matrix in the `SingleCellExperiment` object a sparse count matrix?
Does the error persist if you're using a lower number of genes for the fitting? You can, for example, try fitting the first 100 genes by setting the `genes=1:100` argument in `fitGAM`.

That would help us diagnose the problem.
Thanks,
Koen

[2021-02-03 12:14] GAgafencu commented on #120
Thanks Koen for the quick reply!

I've checked the nature of the count matrix in the SingleCellExperiment object using  class(assays(sce)$counts)
and I got this output:
[1] "dgCMatrix"
attr(,"package")
[1] "Matrix"
It seems to be a sparse matrix to me.

I get the same error when I run the fitGAM command with the argument genes=1:100.

Would it make any sense to run fitGAM on a subset of the data (

[2021-02-03 12:54] koenvandenberge commented on #120
Thank you @GAgafencu.
Do you mind sharing the subset of your data corresponding to e.g. the first 100 genes and all relevant input to `fitGAM`, so we can look into the issue?
Feel free to share e.g. a Dropbox folder or send an e-mail to koenvdberge@berkeley.edu.

[2021-02-03 13:55] Roedani commented on #118
Hi Koen,

Thanks for getting back to me.
I jus updated  my tradeSeq version and the error keeps the same.
<img width="683" alt="Screen Shot 2021-02-03 at 8 23 55 AM" src="https://user-images.githubusercontent.com/74432483/106753072-29f33980-65f9-11eb-8c80-32896346b310.png">

And when I tried to specify the cellWeight and the pseudotime, the error did not change, but instead to show numbers it show

[2021-02-03 14:11] balthasar0810 opened #121 "Number of knots"
Dear all,

I have a slingshot object with 7 lineages. Performing fitGAM initially with 6 nknots gives me the warning:
Warning message:
In .findKnots(nknots, pseudotime, wSamp) :
  Impossible to place a knot at all endpoints.Increase the number of knots to avoid this issue.

I know that you have evaluateK (which takes very long).

My question: Is there a good empirical value for nknots (for instanc

[2021-02-03 16:38] huanz4 opened #122 "correlate pseudotime values with that of monocle"
Hi,

Thanks for providing this package. I am currently doing the gene expression pattern analysis with it. I plotted the graph according to the following code from tradeseq workflow:

nPointsClus <- 20
cUniq <- unique(clusterLabels)
cUniq <- cUniq[!cUniq == -1] # remove unclustered genes

for (xx in cUniq[1:4]) {
  cId <- which(clusterLabels == xx)
  p <- ggplot(data = data.frame(x = 1:nPointsClus

[2021-02-03 16:44] ammarsabircheema opened #123 "Unable to find an inherited method for function ‘rowData’"
Hi I am trying to use tradeseq for analyzing data but I am not successful in doing so and having the error as shown below, I have shared the code and error below,

[code]

Is there any solution to this problem?

Thanks,
Ammar

[2021-02-03 19:22] HectorRDB commented on #123
Hi @ammarsabircheema
Thanks for your interest in tradeSeq.
You are currently using the first version of `tradeSeq` (version 1.01) but following the vignette designed for the more recent versions (> 1.3). You should refer to the proper vignette associated with that bioconductor release.
I would strongly recommend that you update tradeSeq either via bioconductor or via github

[2021-02-03 19:25] HectorRDB commented on #122
Hi @huanz4,
I assume you are referring to the `nPointsClus` option? This option is used to decide how many points to use to draw the curves, i.e. it is an integer values. It is independent of the range of pseudotimes.
Those points are equally spaced along pseudotime value so the maximum value will match the maximum pseudotime in the longest lineage.

[2021-02-03 19:30] HectorRDB commented on #121
Hi @balthasar0810
7 lineages and 6 knots already mean you need to evaluate 42 parameters per genes, which is a lot (especially since some will be heavily correlated) so I would not recommend looking at more than 6 or 7.
`evaluateK` can be quite long but you can speed it up a) by changing `k = 3:7`, b) by lowering the `nGenes` argument, c) by using parallelization.
If that is still too slow for you

[2021-02-03 19:46] huanz4 commented on #122
Hi Hector,

Thanks for your quick reply. That was clear.

Best,
Huan

[2021-02-03 19:46] #122 closed

[2021-02-03 19:52] koenvandenberge commented on #118
Hi Rodrigo,

Can you please share the full command you're using? Why are you using the cluster labels as cell-level weights?
Is it possible to share a reproducible example?

[2021-02-03 20:19] Roedani commented on #118
Hi Koen,

Sure!

This the full command
deng_1 <- as.SingleCellExperiment(Neutrophil, assay="RNA")

sce_1 <- slingshot(deng_1, reducedDim = 'UMAP', clusterLabels = colData(deng_1)$HTO_classification,
                   start.clus = 'inner', approx_points = 150)

# plotting UMAP using slinshot object with line
plot(reducedDims(sce_1)$UMAP, asp = 1, pch = 16, xlab = "UMAP-1", ylab = "UMAP-2",
     co

[2021-02-03 20:46] koenvandenberge commented on #120
Hi @GAgafencu

Are you encountering this error immediately?
I just tried this locally and it’s running and has fitted for a few genes.
It’s very slow though, since you’re estimating 8 lineages * 2 conditions * (default of) 6 knots = 96 parameters for each gene, especially since the parameters will be very correlated. You may want to consider tuning this by e.g. reconsidering the number of lineages

[2021-02-03 21:53] GAgafencu commented on #120
The error occurs immediately after I initiate the command when running on the whole dataset even with genes=1:100 on a a computing node that has 40 CPU cores and 1TB of RAM .

I've just split my dataset in half by randomly selected approx. 35k cells and set genes = 1:300 with a k=6 and the fitGAM function started to execute and it estimated around 1.5 days until it completes the task. Suffice to s

[2021-02-04 09:57] koenvandenberge commented on #120
Thanks. It seems that the problem is not with `tradeSeq` then, but rather with the server and input you're providing to `fitGAM`.
We definitely do not recommend fitting this many lineages if some don't make sense biologically as it could have a detrimental effect on the downstream results.
I will close this issue for now, feel free to reopen if other issues arise.

[2021-02-04 09:57] #120 closed

[2021-02-04 10:28] GAgafencu commented on #120
Thank you for your due diligence in addressing this issue. If it is not too much to ask, could you please elaborate on if by the input to this function is to be one of the sources of this issue are you solely referring to the fact that I should focus only on the relevant lineages or there is something with the count matrix that is causing this error? If it is something with the count matrix what w

[2021-02-05 23:13] HectorRDB commented on #118
Hi @Roedani
First, I am unsure what is your experimental design but you are using the `HTO_classification` both as cluster inputs to slinghsot (suggesting they are related to classification) and as conditions. Are you sure about this part?
I am kind of puzzled as to why evaluateK is working but not fitGAM. Could you email me a subset of the data?
best,

[2021-02-06 02:01] Roedani commented on #118
Oi @HectorRDB
About your question, I was not totally sure. So, I tried this command using the Seurat clusters for classification
sce_1 <- slingshot(deng_1, reducedDim = 'UMAP', clusterLabels = colData(deng_1)$seurat_clusters,
                   start.clus = 'inner', approx_points = 150)

then, I kept the HTO_classification as condition because in there I have all my samples.

sce_1 <- fitGAM(count

[2021-02-08 15:37] Roedani commented on #118
Hi @HectorRDB

The fitGAM took all the weekend to finish but it seems that worked.
# most significant gene
<img width="689" alt="Screen Shot 2021-02-08 at 10 32 31 AM" src="https://user-images.githubusercontent.com/74432483/107241474-0402d600-69f9-11eb-8d8b-032cc6d2660e.png">

<img width="689" alt="Screen Shot 2021-02-08 at 10 22 42 AM" src="https://user-images.githubusercontent.com/74432483/10724

[2021-02-08 18:53] HectorRDB commented on #118
Hi @Roedani
I would need the code that you used to generate those plots in order to help.
Best,

[2021-02-08 18:56] HectorRDB commented on #21
Hi,
It is in theory but as you will see here, the variations on the y-axis are very small in magnitude so those types of plots are not surprising

[2021-02-08 18:56] #39 closed

[2021-02-08 18:57] #75 closed

[2021-02-08 18:58] HectorRDB commented on #78
Hi @lc822
I am closing the issue due to inactivity, feel free to reopen if you still have a problem

[2021-02-08 18:59] #96 closed

[2021-02-08 19:12] Roedani commented on #118
Hi @HectorRDB

Of course, and thanks again.

#Differential expression between conditions
plotSmoothers(sce_1, assays(sce_1)$counts, gene = "Sp110", alpha = 1, border = TRUE) + ggtitle("Fn1")

#Differential expression analysis
condRes <- conditionTest(sce_1, l2fc = log2(2))
condRes$padj <- p.adjust(condRes$pvalue, "fdr")
mean(condRes$padj <= 0.05, na.rm = TRUE)

sum(condRes$padj <= 0.05, na.rm = TR

[2021-02-09 04:21] HectorRDB commented on #118
Ok I am completely lost in what you are trying to do.
It looks like you have two conditions, tumour and control, by the names you use, but the conditions vector has 4 levels (MTO02, MTO04, MTO06, MTO08). I don't think the code is doing what you think it is.

Furthermore, I would be careful in general when copy-pasting code. Here you wrote
[code]
instead of
[code]

[2021-02-09 09:53] lsole92 commented on #110
Hi @HectorRDB
Sorry for coming back to you so late and sorry that my graphs were confusing...
I actually have a model with 5 lineages and 2 conditions (= 10 lineages) so I tried to simplify it but made it more confusing. I found what the problem was for my heatmaps, though. The name of the columns when calculating predictSmooth() was not correct and, thus, I was plotting the wrong columns in the h

[2021-02-09 17:10] HectorRDB commented on #110
Hi @lsole92
No problem. We have made recent updates to tradeSeq that could impact your two questions.
1/ Can you update the package and check if the naming is correct
2/ You can now specify colors for points and curves in plotSmoothers. So if you pass it "transparent" for the lineages you are not interested in, it should not display them.

[2021-02-11 17:20] #78 closed

[2021-02-11 17:21] #89 closed

[2021-02-11 17:34] HectorRDB commented on #100
Closing for inactivity, feel free to reopen if needed

[2021-02-11 17:34] #100 closed

[2021-02-11 17:42] koenvandenberge commented on #120
Hi @GAgafencu

Since the function runs when you subset your data, it seemed to me like the problem was not with `tradeSeq`, but possibly with e.g. how the server is set up or how you submit your job.
When you subsetted your data, did you also only provide the `pseudotime` and `cellWeights` of those subsetted cells?

Note also that since you don't seem to be taking full advantage of the heavy compu

[2021-02-11 17:43] koenvandenberge commented on #115
Closing due to inactivity, feel free to reopen if the issue is not resolved.

[2021-02-11 17:43] #115 closed

[2021-02-11 17:50] koenvandenberge commented on #104
Hi @kmshort

The discussion we're having is a general discussion that goes beyond the use of `tradeSeq`. Eversince the use of microarrays or bulk RNA-seq there's been people who prefer to rank their genes by the effect size, as you're argumenting; and others who prefer to rank by test statistic/p-value.

Playing the devil's advocate, ranking genes by effect size would typically prioritize genes wi

[2021-02-11 21:00] kmshort commented on #104
Very good point there, thanks. Sorry, I'm really not trying to drag this beyond tradeSeq. I'm just writing up a paper now of which tradeSeq may well play a part. So I'm trying to figure out the best/most appropriate way to present the DGE analysis over pseudotime with some quantitative measure in order to say "this gene" or "these genes" are *more* affected across pseudotime (or X-Y range of pseud

[2021-02-12 09:41] koenvandenberge commented on #104
Sure, this is something all of us need to think about and it's not an easy task since there's no obvious solution that works for all. Ultimately, the decision also involves the properties of your dataset, e.g. number of replicates and how strong the signal is. Given different rankings, I find plotting e.g. the top 100 genes in a PDF so I can scroll through them very useful.

I'll close this issue

[2021-02-12 22:02] GAgafencu commented on #120
The error I reported definitely has something to do with how the computing node is configured as this function is stops with a different error if I try to use the parallelisation option that you mention. When I was running the function on a subset of cells, I was providing both the pseudotime and cellWeights values for that cell subset as well as the normalised counts for those cells.
I eventually

[2021-02-15 13:53] ccasar opened #124 "Allow plotSmoothers to plot specfic lineages only"
Hi,

I have not found a simple way to do this with the current functions in tradeSeq.

**Is your feature request related to a problem? Please describe.**

I have a dataset with two conditions and four lineages. I've run fitGAM on this dataset with the condition argument set and when I try to plot a gene with plotSmoothers it always plot all lineages and all conditions:

![plotsmoothers_all_lineage

[2021-02-15 14:00] koenvandenberge commented on #124
Hi @ccasar

Thanks for the suggestion, we will look into it.

[2021-02-15 17:44] HectorRDB commented on #124
Hi @ccasar
Thanks for this and for opening a very clear issue.
Unfortunately, filtering before feeding the object to plotSmoothers would only work to subset the points, not the curves since those are considered as rowData.
I will look into updating this.
In the meantime, you can use both the pointCols and curveCols arguments from the latest tradeSeq version. With those arguments, you will be able

[2021-02-15 21:46] ccasar commented on #124
Hi,

thanks for the quick response. I've installed 1.5.7 from github to test the pointCols and curveCols arguments.
I've used this command:

[code]
The plot looks like this now:

![plotsmoothers_arguments](https://user-images.githubusercontent.com/2711108/107994413-d9a6af00-6fdc-11eb-8ae8-281311496288.png)

Setting curve colors worked. Here it was important to use '#FFFFFF00', i.e. adding the '00'

[2021-02-16 12:42] balthasar0810 opened #125 "Set range of plotted values"
Hi,

plotting
plotGeneCount(slingshotDataset, counts, gene = gene)

provides a heatmap plot. How can I adjust the value range of "logged count of gene" shown in the plot? Say, I want to color-code values from 1 to 2?

Best, CHris

[2021-02-16 16:42] ammarsabircheema opened #126 "modify code to plot cluster for multiple lineages"
Hi,

What you mean by lineages is activation trajectorie as calculated by monocle? I have performed an analysis using tradeseq and I performed it using the object from monocle.

The data is from this paper (https://www.nature.com/articles/s41590-020-0731-4#Abs1) the monocle analysis of this data is shown below as well, I wan to ask that how can I increase the code given below for four lineages (ac

[2021-02-16 21:08] koenvandenberge commented on #125
Hi @balthasar0810

Thanks for raising the question. As I understand it, you'd like to color code the cells based on a limited range of the gene expression of the gene you're looking at, rather than the entire range of gene expression values.
This is a pretty specific question and it won't be at the top of our to do list for a while. If you want, you can try it out yourself by adapting the [functio

[2021-02-16 23:07] HectorRDB commented on #125
Hi @balthasar0810
To pile up on what @koenvandenberge said, the `plotGeneCount` function returns a ggplot object so you can change the color scheme as you would do with any ggplot object, using the `scale_color_...`

[2021-02-17 09:37] balthasar0810 commented on #125
Thanks for the replies! Sorry, I just saw that, too, that a ggplot object is returned...

[2021-02-17 09:37] #125 closed

[2021-02-17 16:39] ammarsabircheema commented on #126
Hi,

I found a solution to this problem, by editing the code in this line lineage = rep(0:1, each = nPointsClus)) , I have changed the rep(0,1, each = nPointClus)) as given below,

[code]

[2021-02-17 16:39] #126 closed

[2021-02-17 22:47] ammarsabircheema commented on #110
Hi,

Can you please tell me how can I increase the number of clusters using this code? This code is taken from tradeseq tutorial, I tried to increase the number of clusters myself but it did not work, so Is there a way I can increase the number of clusters that are printed at the end?

[code]

[2021-02-23 19:53] ammarsabircheema opened #127 "Increase clusters using the code given in tradeseq tutorial"
Hi,

Can you please tell me how can I increase the number of clusters using this code? This code is taken from tradeseq tutorial, I tried to increase the number of clusters myself but it did not work, so Is there a way I can increase the number of clusters that are printed at the end?

[code]

[2021-02-24 12:54] koenvandenberge commented on #127
Hi @ammarsabircheema

The `clusterExpressionPatterns` function is basically a wrapper around the functionality provided by the Bioconductor `clusterExperiment` package, in particular the `RSEC` function. There are many arguments within `RSEC` that can be used to tweak the number of clusters, and these arguments can also be provided to `clusterExpressionPatterns`. I therefore suggest you take a loo

[2021-02-24 20:59] ammarsabircheema commented on #127
Hi,

Thanks for your response, before posting here

- I already looked at the clusterExperiment vignette and I was not able to find the solution,

- I even tried to increase the number of clusters on my own by changing nPointsClus <- 45 and changing the gene number to 300

- this did increase the number of clusters but when I tried to plot them I was getting errors,
- the error was related to popu

[2021-02-25 14:55] france-hub opened #128 "help with imbalance_score"
Hi,

Thank you for this wonderful package.

I am reaching out to get some advices on how to proceed with my analysis. Briefly I am analyzing CD8+ T cells and I have 3 conditions: healthy controls, responders and non responders to treatment.

I am following your bioc2020 workshop and after running your imbalance_score function I've obtained the following UMAP:

![balance](https://user-images.github

[2021-02-25 16:14] s2hui commented on #64
Hello, I just started using the tradeSeq package and I had a question about selecting the number of genes for the parameter genes in fitGAM.  In this posting it says to use the top 1k features as "top 1-2k features usually contain most of the signal."  What is the recommended way to select the top 1-2K features?  Is this based on variable expression?  I have >30K genes in my counts matrix and was

[2021-02-25 16:20] s2hui opened #129 "Question about parameter genes in fitGAM"
Hello,

I just started using tradeSeq and I had a general question about selecting the number of genes for the parameter genes in fitGAM. 

In a posting for issue #64  it says to use the top 1k features as "top 1-2k features usually contain most of the signal."  What is the recommended way to select the top 1-2K features?  Is this based on variable expression?  The info [here](https://statomics.gi

[2021-02-25 16:45] HectorRDB commented on #129
Hi @s2hui
The link to the vignette is definitely not what we recommend in practice, it is just a demo of how to use this argument. If you can run 200 genes quickly (which is not surprising if you are using only 6 knots and two lineages), you can probably go as high as 5k without it taking too long.
To select the features, we generally use two options:
- Filter in the form: keep genes with at least

[2021-02-25 16:48] HectorRDB commented on #128
Hi Francesco,
Your question could not be better timed. We are releasing a new method specifically focused on this issue. The package and preprint should be out either later this week or early the next. You can follow my twitter account for updates but I'll also post the links here when it is out.

[2021-02-25 16:54] s2hui commented on #129
Yes that helps alot, thank you!

[2021-02-25 16:54] #129 closed

[2021-02-25 16:59] france-hub commented on #128
Nice!
Thank you very much Hector!

[2021-02-26 10:56] koenvandenberge commented on #127
Hi @ammarsabircheema

Please take a better look at the `clusterExperiment ` vignette and our help files. For example, the `ks` argument in `clusterMany` from `RSEC` lets you increase the number of clusters. You may also consider more principal component dimensions for the clustering.
The `nPointsClus` argument in `clusterExpressionPatterns` does not relate to the number of clusters, but it relates

[2021-02-26 19:14] kmshort commented on #128
@HectorRDB what's your twitter account handle?

I'm using this Imbalance package from kstreet13/bioc2020trajectories too.

[2021-02-26 19:25] HectorRDB commented on #128
hector_rdb

[2021-02-26 19:30] kmshort commented on #128
thanks @HectorRDB , following now.

[2021-02-27 02:27] ChenyiLyu opened #130 "Getting different fitting curves for the same genes when tuning different# of genes as input for fitGAM."
Hi tradeSeq Team,

Thanks for the wonderful package! I am benefited a lot from your bioc2020 workshop. Thanks a lot for the wonderful tutorial!

I am reaching out for a issue with fitGAM(). When I was running fitGAM using just a few marker genes (9 genes), for one of the genes, I had the following plot:

<img width="400" alt="Screen Shot 2021-02-26 at 20 26 15" src="https://user-images.githubuserc

[2021-02-27 10:48] koenvandenberge commented on #130
Hi @ChenyiLyu

We're glad you've benefited from the workshop!

Thank you for reporting this, this is indeed puzzling. A different number of genes would impact the normalization since sequencing depths would be different.
As a first step in diagnosing the problem, could you please check if the problem you're seeing persists if we do not normalize?
You can do that using the `offset = rep(0, ncol(sce

[2021-02-27 14:16] ChenyiLyu commented on #130
Hi @koenvandenberge,

Thanks a lot for the reply!

I passed `offset = rep(0, ncol(sce))` into `fitGAM`, and ran again for gene subset and 2,000 genes. Turns out the plots remain the same under both situation.

[2021-02-28 18:18] ChenyiLyu commented on #130
Hi @koenvandenberge,

I figured out the problem! If I pass the results from `slingshot()` directly into `fitGAM()` instead of manually separating out the data using `slingPseudotime()` and `slingCurveWeights()`, then the fitting becomes reasonable and the curves are independent from input gene numbers! So I modified my code into this:
[code]
<img width="415" alt="Screen Shot 2021-02-28 at 13 12 56

[2021-02-28 18:43] koenvandenberge commented on #130
Hi @ChenyiLyu

I would be cautious here not to overinterpret. What was said there is that often the top 1-2k features contain a lot of the signal
to recover the major structure(s) in your dataset. But that doesn't mean other features will not be differentially expressed. In DE analysis, we do recommend you to look at most of the genes in your dataset, after some filtering criterion to ensure they

[2021-02-28 19:36] ChenyiLyu commented on #130
Email sent out. Thanks again for the follow up!

[2021-03-02 15:22] s2hui opened #131 "Question about mapping columns in heatmap to cell type"
Hello,

I was following your [tutorial](https://kstreet13.github.io/bioc2020trajectories/articles/worksh) to create a heatmap and was wondering how to map the columns of the heatmap to cell type?

I wanted to create a heatmap like the one in the paper:
![image](https://user-images.githubusercontent.com/10944134/109668633-5a1df180-7b3f-11eb-9693-23e99cb7a442.png)
where the columns are annotated acc

[2021-03-02 16:48] HectorRDB commented on #131
Hi @s2hui
The code has clearly evolved a lot since the paper...
There is now a convenient `predictSmooth` function that should return the necessary input to pheatmap, similarly to what we did in the recent [bioconductor workshop](https://kstreet13.github.io/bioc2020trajectories/articles/workshopTrajectories.html#visualization-of-de-genes).
If you have two lineages, I would recommend doing two heat

[2021-03-02 16:52] HectorRDB commented on #124
Hi @ccasar
Thanks for this. I will add the scale_color_manual line to the code and your suggestion of having the extra `00` at the end in the examples.

[2021-03-02 18:40] s2hui commented on #131
Hi, Thanks very much for your insight.  It makes sense and I will look into the options you mentioned.

[2021-03-02 18:40] #131 closed

[2021-03-02 19:07] #107 closed

[2021-03-02 19:15] HectorRDB commented on #124
Actually, I will not add the scale_color_manual line since we want users to be able to pass a vector for `pointCols` that can represent something else (cluster labels for example). I don't know of a general way to distinguish between colors and not-colors in the code so I will keep it as it is.

[2021-03-02 19:15] #124 closed

[2021-03-03 14:10] koenvandenberge commented on #130
Hi @ChenyiLyu

This has been a combination of issues in `fitGAM` and `plotSmoothers` when using the different inputs, in particular in combination with a `genes` argument in `fitGAM`. I believe I have fixed these issues now and, on my machine, it seems to work as expected on your data. Feel free to check it out.

Thanks again for your detailed report, this was very helpful to us!
Let us know if yo

[2021-03-03 14:10] #130 closed

[2021-03-03 18:02] julicudini opened #132 "bisection in heatmap after predictSmooth"
Hello,

Thanks for the great tool!

I am trying to plot a pheatmap of some genes over pseudotime time and I'm getting a little lost with the output of ```predictSmooth```. I have two lineages and, as expected, when choosing ```nPoints = 60``` I get back a dataset with 2x60 columns corresponding to the 2 lineages over 60 timepoints. The columns are arranged lineage_1, lineage_2 for each timepoint,

[2021-03-04 09:12] julicudini commented on #132
To expand on this, using ```tidy=TRUE``` and subsetting the dataframe myself to isolate just lineage 1 and plotting gives this heatmap:
![image](https://user-images.githubusercontent.com/22456691/109934662-afcfd680-7cc4-11eb-80e0-b5189904deed.png)

which looks identical to the first heatmap, where the labels suggested alternated between lineage 1 and 2 per time point. Is it possible the non-tidy o

[2021-03-04 11:23] JesseRop commented on #106
Hi, just following up on this to ask whether conditionTest can perform pairwise comparisons for more than 2 conditions in one lineage; for instance in a lineage with 3 conditions (a,b,c) we have 3 pairwise comparisons (a VS b, a VS c and b VS c) and therefore we expect 3 p-values. Currently, the conditionTest output for pairwise comparisons just gives 1 p-value column.

[2021-03-04 11:28] koenvandenberge commented on #106
Hi @JesseRop

Yes, just set `pairwise=TRUE` in `conditionTest`. See the help file `?conditionTest` for more details.

Best,
Koen

[2021-03-04 20:01] JesseRop commented on #106
Thanks @koenvandenberge !
I was able to get it working perfectly in the github development version. However, I am now getting error from plotSmoothers and predictSmooth functions

[code]

[code]

[2021-03-09 23:49] DustinSokolowski commented on #132
Hey!

I just wanted to mention that I have the exact same phenomena when I have 3 and 6 lineages respectively. I also came to the same conclusion as @julicudini. Unfortunately I'm having a somewhat tricky time telling when looking at the code directly.

[2021-03-10 00:56] #132 closed

[2021-03-10 00:57] HectorRDB commented on #132
HI @DustinSokolowski @julicudini
The latest commit should have fixed it. Let me know if it does not work. Thanks for sharing.

[2021-03-10 02:25] HectorRDB commented on #121
Closed for inactivity after one month. Feel free to reopen if need be.

[2021-03-10 02:26] HectorRDB commented on #123
Closed for inactivity after one month. Feel free to reopen if need be.

[2021-03-10 02:26] #123 closed

[2021-03-10 17:35] HectorRDB commented on #118
Closed for inactivity after one month. Feel free to reopen if need be.

[2021-03-10 17:35] #118 closed

[2021-03-10 17:36] HectorRDB commented on #21
Closed for inactivity after one month. Feel free to reopen if need be.

[2021-03-10 17:36] #21 closed

[2021-03-10 17:43] JesseRop opened #133 "split plotGeneCount output plot by condition"
Is it possible to split the plotGeneCount output by condition so as to get a clear visualization of gene expression per cell in different conditions?

[2021-03-10 17:44] JesseRop commented on #133
Is it possible to split the plotGeneCount output by condition so as to get a clear visualization of gene expression per cell in different conditions?

[2021-03-11 00:15] HectorRDB commented on #128
Hi all,
it took a bit longer than expected but the paper is on [biorxiv](https://doi.org/10.1101/2021.03.09.433671) and you can go check out the new [R package called condiments](https://hectorrdb.github.io/condiments/). Feel free to open an issue over there if you still have a question

[2021-03-11 02:46] france-hub commented on #128
Great!

[2021-03-11 02:51] kmshort commented on #128
Fantastic @HectorRDB
Where do you think you'll send the complete manuscript?

[2021-03-15 12:20] koenvandenberge commented on #133
Thanks for the suggestion @JesseRop, I will look into this.

[2021-03-23 19:42] ikumar2000 opened #134 "timecourse analysis on bulk RNA-seq"
Could you please provide detailed information on performing a time course analysis of bulk RNA-seq. A use case study in the manual/bioc would be super helpful too.  My setup involves 3 genotypes, 2 treatments and 3 timepoints with 3 replicates each.

[2021-03-23 20:16] HectorRDB commented on #134
Hi @ikumar2000
Writing a vignette on this topic would be a great idea.
However, in your particular setting, using `tradeSeq` would be quite challenging. `tradeSeq` relies on smoothing splines and, although they have some regularisation, they do usually require much more data to properly fit. This is going to be even more dire with three time points since there will be exactly one knot per timepoin

[2021-03-23 20:42] ikumar2000 commented on #134
While going through the methodology, I did suspect that my dataset might be too small for model fitting. What would be good size of data for this? Would 7-8 time points suffice? Yes, I have already performed DE with edgeR however wanted to perform pattern DE testing.
  In any case, I have much bigger dataset (bulk RNA-seq) incoming and would like to set up a pipeline so  a detailed example would h

[2021-03-23 20:52] HectorRDB commented on #134
I think anything more than 5 would work. In the case study for the paper, we had 6 time points and three replicates. The more time points you have, the more likely you are to detect subtle changes (such as temporary activation or repression).
I'll let you know when I write the vignette.

[2021-03-24 17:57] HectorRDB commented on #134
If you absolutely want to run the analysis, you can use the `fitGam` function, using the treatment assignments as lineages and the genotypes assignments as conditions.
Be sure to set `nknots` to 3 as well.  As usual, you should also filter the dataset before running `fitGam`

[2021-03-24 18:02] ikumar2000 commented on #134
Thanks, Hector. By filtering, do you refer to filtering out lowly expressed genes? How would the time series factor be entered?

Inder
On Mar 24, 2021, 12:58 PM -0500, Hector Roux de Bézieux ***@***.***>, wrote:

[2021-03-24 18:07] HectorRDB commented on #134
Yes
The time can replace the usual pseudotime variable. You can find the bulk RNA seq case study code on our Github (https://github.com/statOmics/tradeSeqPaper/blob/master/case/bulkTimeCourse/20190619_caseKiselov.R), it should give you a good start. Feel free to comment if anything else is unclear.
Best

[2021-03-24 18:09] ikumar2000 commented on #134
Great. You are so helpful.

Thanks,
Inder
On Mar 24, 2021, 1:07 PM -0500, Hector Roux de Bézieux ***@***.***>, wrote:

[2021-03-26 17:08] ella-beaumann opened #135 "output of predictCells"
Hi all !

I used predictCells to produce two heatmaps: DE genes using the results of the association test, and some transcription factors. Because I have a number of genes present in both, I saw that the output of predictCells was different when I used it with different lists of genes.

Here's an example:

![image](https://user-images.githubusercontent.com/36297507/112659763-fdb7a480-8e54-11eb-811

[2021-03-29 10:53] koenvandenberge commented on #135
Hi @ella-beaumann

This indeed seems to have been a bug, thank you for reporting it!
I believe it should now be fixed. Let me know if it isn't.

Best,
Koen

[2021-03-31 22:57] carbycrab commented on #110
Hi @HectorRDB

Thank you so much for developing the tradeseq conditions analysis. It's such an awesome addition to package! I have a similar question. I have 4 lineages and 2 conditions (8 lineages total) but am only interested in visualizing four of them on plotSmoothers. When I tried passing "transparent" to lineages I want to exclude in the `curvesCol` argument, my lineages of interest look par

[2021-04-01 08:11] HectorRDB commented on #110
Hi @carbycrab
Thanks for using `tradeSeq`, we're glad you like it.

+ You also need to specify `border=FALSE`, otherwise, the curves still have a white border (hence the cut)
+ The `pointCols` argument takes as input a vector of length the number of cells. Assign one color per cell based on condition, including transparent for those that should be hidden.
+ I am unsure what you are trying to achie

[2021-04-01 15:21] s2hui opened #137 "Error: unable to find an inherited method for function ‘fitGAM’ for signature ‘"standardGeneric"’"
Hello,  When calling fitGAM, I get the following error.  I was wondering how to fix this?
Thanks for your help!

[code]
[code]

[2021-04-01 15:44] s2hui commented on #137
Apologies, I hadn't defined the variable counts!  It is running fine now after setting counts to the count matrix from my Seurat object.

[2021-04-01 15:44] #137 closed

[2021-04-02 16:01] liuweihanty opened #138 "a question about associationTest()"
Dear TradeSeq developers,
Thanks for the great tool! I have a question for the workflow Vignette:https://bioconductor.org/packages/release/bioc/vignettes/tradeSeq/inst/doc/tradeSeq.html
When you mention we can test whether genes are significantly associated a particular lineage, you used this functions:
assoRes <- associationTest(sce)

However, when I print the output assoRes, I cannot see which l

[2021-04-02 17:10] HectorRDB commented on #138
Hi @liuweihanty
Thanks.  You can use the `lineages` argument to ask to lineage-level statistics.
Specifically, setting `lineages=TRUE` will return what you want.

If you multiply the number of comparisons, be sure to correct the p-values for proper multiple testing.

Best

[2021-04-03 11:32] koenvandenberge commented on #75
I've now finished updating the `associationTest`, also in the case for multiple conditions.

[2021-04-07 16:11] liuweihanty commented on #106
Hi @HectorRDB , I had the same issue with @JesseRop . When I run the tutorial code(I didn't do any modification to the code before this line)
yhatSmooth <- predictSmooth(sce, gene = mockGenes, nPoints = 50, tidy = FALSE)
I got the error
Error in if (min(lineageData)/max(lineageData) < 0.01) { : missing value where TRUE/FALSE needed

I installed the developer version of tradeseq: devtools::install_

[2021-04-07 16:19] HectorRDB commented on #106
HI @liuweihanty
A little question: Are you using the same data as the tutorial (I assume you are referring to [this](https://kstreet13.github.io/bioc2020trajectories/articles/workshopTrajectories.html))?
Could you also share the output of `sessionInfo()`
Thanks

[2021-04-07 16:20] HectorRDB commented on #127
Closed due to inactivity after one month. Feel free to reopen if the problem persists.

[2021-04-07 16:20] #127 closed

[2021-04-07 16:35] liuweihanty commented on #106
Hi @HectorRDB, thanks for the quick reply! Yes I'm using the same data as in the tutorial(yes the link you attached). Here is the output of my sessionInfo():

R version 4.0.2 (2020-06-22)
Platform: x86_64-apple-darwin17.0 (64-bit)
Running under: macOS Catalina 10.15.7

Matrix products: default
BLAS:   /System/Library/Frameworks/Accelerate.framework/Versions/A/Frameworks/vecLib.framework/Versions/A

[2021-04-07 16:48] HectorRDB commented on #106
Ok I cannot seem to reproduce it...
Could you let me know what steps of the workshop are you running? I.E are you running the tradeSeq fitting and the associationTest again? Or using the pre-stored results?

[2021-04-07 19:01] liuweihanty commented on #106
Hi @HectorRDB , these are the only two steps I didn't run on my desktop and used the prestored data instead:
1).
set.seed(3)
icMat <- evaluateK(counts = as.matrix(assays(sce)$counts),
                   pseudotime = colData(sce)$slingshot$pseudotime,
                   cellWeights = colData(sce)$slingshot$cellWeights.V1,
                   conditions = factor(colData(sce)$pheno$treatment_id),

[2021-04-07 19:58] HectorRDB commented on #106
Ok that is weird. I also re-ran all the steps and nothing changed. Did you update the Bioc202trajectories package to its latest version? It looks like it just wanted to check.
Could you also let me know if you find the same results as the vignette? in term of number of DE genes and the upset plot?

[2021-04-08 09:14] JesseRop commented on #106
Hi @liuweihanty
If I remember correctly this error came about as I was using an older version of tradeSeq to fit the GAM model and a newer version for the plotSmoothers. I think I solved it by rerunning all the steps using the latest version.

[2021-04-08 13:52] HectorRDB commented on #106
Thanks a lot @JesseRop.
@liuweihanty let us know if re-running the fitGam step does the trick.

[2021-04-08 20:53] liuweihanty commented on #138
Thanks @HectorRDB ! I see, because in the toturial it didn;t specify lineage = TRUE so it's testing for global, not lineage specific.

[2021-04-08 20:53] #138 closed

[2021-04-09 04:24] ikumar2000 commented on #134
Hi Hector,

 The part of determining the weight for the bulk RNA-seq wasn't very clear to me. Could you please explain.

Thanks,
Inder     On Wednesday, March 24, 2021, 01:09:40 PM CDT, ***@***.***> wrote:

 Great. You are so helpful.

Thanks,
InderOn Mar 24, 2021, 1:07 PM -0500, Hector Roux de Bézieux ***@***.***>, wrote:
Yes
The time can replace the usual pseudotime variable. You can find the bu

[2021-04-09 16:34] HectorRDB commented on #134
Hi @ikumar2000
If you have a time-course data (i.e all samples are progressing along the same axis), then you can just use a vector of 1, with one value per sample.
Best

[2021-04-14 22:27] DustinSokolowski opened #139 "Strange and specific error with fitgam and multiple conditions"
Hey!

Thank you for your great tool!

I have been using slingshot and tradeseq together and it has already unveiled aspects of my data that I would have never otherwise seen.

I think you have a small but in the fitGam function when you have these specific conditions
1) When the input data is a SingleCellExperiment object
2) When Conditions were stated in the fitGam function
3) When the slingshot

[2021-04-15 10:05] koenvandenberge commented on #139
Hi @DustinSokolowski,

Thanks, we appreciate it you using `tradeSeq`!

I think that this could be a bug that we have previously fixed in https://github.com/statOmics/tradeSeq/commit/810bc5f709181f1c4a405932330e25031f247bb5.  So if you're using `tradeSeq` version `1.5.07` or lower, I'd recommend to update the package by re-installing it from our GitHub repo. Let us know if this doesn't fix it!

Bes

[2021-04-15 16:10] DustinSokolowski commented on #139
Hey!

I updated and it worked great. Sorry about that!
Dustin

[2021-04-15 16:10] #139 closed

[2021-04-19 16:48] liuweihanty commented on #106
hi @HectorRDB would the latest version of tradeseq being the developer version devtools::install_github("statOmics/tradeSeq") or the one from BiocManager? BiocManager::install("tradeSeq")  Thanks!

[2021-04-19 22:17] HectorRDB commented on #106
The developer version (`devtools::install_github("statOmics/tradeSeq")`) sorry for not being clearer

[2021-04-21 23:22] liuweihanty opened #140 "a question about balance score"
Hi there developers of tradeSeq,
I have a question regarding the balance score mentioned in the multi condition analysis vignette.https://kstreet13.github.io/bioc2020trajectories/articles/workshopTrajectories.html

I have three samples, a control, and two gene X knock down samples. I integrated them by Seurat SCT protocol and below is my balance score graph.
If I understood it correctly, the lower

[2021-04-22 00:34] HectorRDB commented on #140
Hi @liuweihanty
We have now published a [full paper](https://www.biorxiv.org/content/10.1101/2021.03.09.433671v1) on this topic with an associated R package named [condiments](https://hectorrdb.github.io/condiments/) to develop a more systematic approach to this question.
If you want, you can open an issue on the condiments workflow [here](https://github.com/HectorRDB/condiments/issues) so that ot

[2021-04-22 00:34] #140 closed

[2021-04-22 04:31] liuweihanty commented on #140
Thanks! @HectorRDB I will read the paper and package first :)

[2021-04-22 07:34] teekhout commented on #117
Hi,
I'm also getting NA as output for all columns except meanLogFC. I followed the tutorial for multiple conditions, using `rowData(sce)$assocRes <- associationTest(sce, lineages = TRUE, l2fc = log2(2))`
I tried removing the l2fc parameter and even the lineages-parameter, but output remained NA for all columns.
Any idea what could be the problem?

Thanks for the help!

[2021-04-22 07:36] koenvandenberge commented on #117
Hi @teekhout , what's the `tradeSeq` version you're working with?

[2021-04-22 07:40] teekhout commented on #117
I recently installed from github, so it should be the most recent version I guess.
sessionInfo() says tradeSeq_1.5.16

[2021-04-22 20:43] jeremymsimon commented on #124
Hey @HectorRDB I'm trying to make a plot similar to the one described in this issue (one lineage out of 8 total, 2 conditions), and am getting a ggplot warning that I'm not sure if it is safe to ignore:

Here is what I'm doing and the error I'm getting:
[code]

I understand this error gets thrown when there are multiple things setting the color scale, but I'm not familiar with what `plotSmoothers`

[2021-04-22 20:50] HectorRDB commented on #124
Yes it is fine to ignore. By default, `plotSmoothers` will have a `scale_color_discrete` so it's giving the warning. You can safely ignore it.

[2021-04-22 20:52] jeremymsimon commented on #124
Thanks!

[2021-04-23 02:34] liuweihanty commented on #64
Hi @HectorRDB , just a follow up on this issue because I encounter similar slow run time problem.. I have 6 cores and 128 GM memory, using the latest version of tradeSeq by running devtools::install_github("statOmics/tradeSeq"). I ran 10 genes, 5 lineages , 6 conditions and 6 knots, so that's 180 parameters per gene right? Even only 10 genes it still takes forever(3 hours only finish 10%). Is ther

[2021-04-27 05:54] kmshort opened #141 "compiling warning from tradeSeq_1.5.17.tar.gz"
I've noticed a warning (but can't be sure).
"no definition for class “PseudotimeOrdering”" during compilation. Is this something to be concerned about? Latest dev version, 1.5.17.

[code]

cheers
Kieran

[2021-04-27 08:45] lucygarner opened #142 "Inconsistency between scaled expression values from tradeSeq and normalised expression values"
Hi,

I have a strange result that I am trying to figure out.  I have run fitGAM, followed by clusterExpression patterns to identify modules of genes showing similar patterns of expression over pseudotime. The input to `clusterExpressionPatterns` was the top 200 genes identified to vary over pseudotime using random forest regression.  I have then taken the gene expression values from `gene_clusters

[2021-04-27 13:40] koenvandenberge commented on #117
Hi @teekhout,

Thank you for reporting, and our apologies for the inconvenience. This was related to recent developments in extending the`associationTest` to multiple contrast types (see the `contrastType` argument) as well as across conditions.
I believe this has now been fixed, please let me know if issues still persist.

[2021-04-27 13:40] lucygarner opened #143 "Error in parallelising in fitGAM - unused argument (BBPARAM = new("MulticoreParam", .xData = <environment>)"
**Describe the bug**
Error in parallelising in `fitGAM` function:

**To Reproduce**
If possible, describe steps to reproduce the bug you are facing by, e.g., providing a minimal working example. Feel free to share (a subset of) your data that reproduces the error.

[code]

It may be that I have made an obvious mistake, as I haven't used BiocParallel much before.

**Session info**
Provide your the

[2021-04-27 13:45] koenvandenberge commented on #141
Hi @kmshort

The `PseudotimeOrdering` class is a new class that has been implemented in the newest versions of Slingshot. We now also explicitly import it in `plotGeneCount`, but probably the warning should disappear once you update your Slingshot installation.

[2021-04-27 13:58] koenvandenberge commented on #142
Hi @lucygarner,

Thank you for reaching out.

If I understand correctly, you are fitting the models using `tradeSeq`, are selecting a subset of 200 genes using some external method, and are then clustering these 200 genes using `clusterExpressionPatterns`. The first heatmap you show I assume is the average `gene_clusters[["yhatScaled"]]` for all genes in each of the clusters, where the across-gene

[2021-04-27 14:05] koenvandenberge commented on #143
Hi @lucygarner

You misspelled the argument, it should be `BPPARAM` and not `BBPARAM`.

[2021-04-27 14:05] #143 closed

[2021-04-27 14:13] lucygarner commented on #142
Thank you for the response.  Yes, I think you have understood it correctly.  The "original normalised expression values" are derived from Seurat (`NormalizeData()` function), so they should account for differences in sequencing depth between the samples.

Before I send further information, can I just check, is it best to perform `fitGAM` on the raw or normalised data?

Best wishes,
Lucy

[2021-04-27 14:16] koenvandenberge commented on #142
Thanks. I'll have to look at what Seurat's `NormalizeData` function does. What's the Seurat version you've been using?

`fitGAM` assumes a count model and therefore it is required to provide the raw data (i.e., the expression counts).

[2021-04-27 14:34] lucygarner commented on #143
Ah sorry! Should have caught that one.

[2021-04-29 09:01] lucygarner commented on #142
Thanks, that would be great - the Seurat version that I have been using is 3.2.3, but I am actually using the SCTransform normalised data for the figures above and the figures below.

I have looked into this a bit more and I think it must be something to do with the normalisation strategies.  If I plot out the expression of the individual genes in the module using the tradeSeq scaled values (chang

[2021-04-29 09:17] koenvandenberge commented on #142
Thanks for these visualizations, these are incredibly helpful!

It seems to me that your pseudotime is associated with the sequencing depth (i.e., the total expression counts for each cell). Could you please provide an additional visualization where you plot the log sequencing as a function of pseudotime for that lineage?

This would explain the increasing raw gene expression values, but the estim

[2021-04-29 09:45] lucygarner commented on #142
Yes, you are correct, the pseudotime trajectory is associated with sequencing depth.  However I don't think this is surprising in my case because it is an activation trajectory, so the cells will be getting larger and more transcriptionally active over pseudotime.  However, I would expect this to be largely dealt with in the count normalisation process?

![image](https://user-images.githubusercont

[2021-04-29 11:04] koenvandenberge commented on #142
Yes, this is indeed being dealt with, which is in fact why the smoothers are flat but the marginal gene expression counts are increasing. In a typical RNA-seq experiment, we are interested in finding differences in the expected expression fractions (i.e., expected gene expression counts divided by a normalized sequencing depth or size factor). Indeed, since the data are compositional, we would exp

[2021-04-29 13:43] lucygarner commented on #142
Yes, I am confused as to why this gene was picked up by the random forest, as data normalised using the `NormalizeData` function (feature counts for each cell are divided by the total counts for that cell and multiplied by the scale.factor) from Seurat was used, so this should take into account the change in library size upon cell activation/over pseudotime.  This was the method that I used: https

[2021-04-30 12:32] eonurk opened #144 "Running tradeSeq on subset of curves of slingshot"
Hi,

Thanks for the package, it is really helpful!

I was wondering how to run `fitGAM` function on only for a subset of curves obtained from slingshot? Below, you can see the UMAP where I showed 6 different trajectories but I want to run fitGAM function for 3 of them which are the ones that goes towards the right side or ahead starting from the bottom.
<img width="613" alt="Screen Shot 2021-04-30

[2021-04-30 15:02] koenvandenberge commented on #142
Did you check if other genes should be more prone to get picked up by any method, based on the normalized data? It seems to me that the (difference in) normalization is to blame, not necessarily the random forest.
If you'd like to avoid this inconsistency, you can also provide TMM-normalized counts as input to the random forest.

[2021-04-30 16:25] HectorRDB commented on #144
Hi @eonurk
First up, I will trust that you have biological backing for those lineages. Just looking at reduced space, it looks like there is probably an over-fitting here. In particular, I would be hesitant to fit a full trajectory to your entire dataset since you seem to have distinct groups. However, it is hard to know without biological insight.

That being said, to run slingshot on just the th

[2021-04-30 18:01] lucygarner commented on #142
In the two methods of normalisation that I have used, these ribosomal genes seem to go down in the stimulated conditions.

`NormalizeData()`:
![image](https://user-images.githubusercontent.com/22564745/116734649-6dd1c100-a9e5-11eb-9291-c8db59ccb7cd.png)

`scTransform()`:
![image](https://user-images.githubusercontent.com/22564745/116734654-70341b00-a9e5-11eb-832e-695ab14e7202.png)

Is there any re

[2021-05-04 06:11] eonurk commented on #144
Hi again,

Thank you for the swift response! Yes, those lineages going left does not actually make a lot of sense, thus, I want to select the ones going towards the right side.

When I extract pseudotime and weights there are NA values, which throws an error while running the fitgam function.

[2021-05-04 12:07] koenvandenberge commented on #142
The main reason to use TMM normalization here is that this aligns with how `tradeSeq` works. I am not trying to claim that TMM works better than other normalization methods. It is correct that TMM assumes most genes are not DE.
In `tradeSeq`, we cannot work with data normalized using either `NormalizeData` or `SCTransform` because these are not counts.  If you'd like to use these methods, I would

[2021-05-04 12:12] #141 closed

[2021-05-04 12:12] #135 closed

[2021-05-04 12:27] lucygarner commented on #142
Thank you, so I can use the raw data as input for tradeSeq but I need to be aware that the normalisation using TMM might not be appropriate in my case?

[2021-05-04 16:17] HectorRDB commented on #144
Hi @eonurk
A couple points:
First, be sure to have the `na = FALSE` argument for the `slingPseudotime` function.

Secondly, you can reduce the `resolution` parameter of the clustering step for Seurat, which will give you less clusters and is less likely to reflect in overfitting.

Hope that helps,
Best

[2021-05-04 16:53] koenvandenberge commented on #142
Yes. In your case, I would generally recommend to explore which normalization works best for your dataset using, for example, known biology based on expected gene expression patterns, or a separation of the cells in a reduced dimensional space that reflects biological rather than technical variability.

Hope this was helpful, and let us know if you encounter any further issues.

[2021-05-04 16:53] #142 closed

[2021-05-05 11:05] eonurk commented on #144
Hi @HectorRDB,

That solved the `NA` problem, however when I subset the curves, it gives me the following error:

[code]

It is working as expected when I don't subset them though.

Thank you for the Seurat trick by the way!

[2021-05-05 14:35] lucygarner opened #145 "tradeSeq crashing due to memory requirements"
Hi,

I have tried running tradeSeq downstream of Slingshot, but it keeps crashing due to reaching memory limits.  I have been using 24 cores and 600 GB total memory, which already seems like a lot to me.

[code]

`sample_sds` is my SlingshotDataSet object and `expression` is a matrix of raw expression counts (~17,000 genes, ~25,000 cells).  What sort of memory requirements would you expect for thi

[2021-05-05 15:15] HectorRDB commented on #144
Hi,
Some cells have zero weights in all three lineages you selected. You will need to filter them out before running tradeSeq (both the cellweights and pseudotime).
Best

[2021-05-05 15:20] HectorRDB commented on #145
Hi @lucygarner
Depending on how your cluster is configured, if the cores share the same RAM then increasing the number of cores will more likely flood the memory.
Instead, I would recommend you request a full node (i.e. all 24 cores) and only use a subset (let's say 6) for tradeSeq. Could you try this with a subset of the genes and let us know if it works, using the `fitGAM` argument `genes=1:100`

[2021-05-06 12:36] eonurk commented on #144
That worked out pretty nice for me, thank you very much @HectorRDB.
Closing this one.

[2021-05-06 12:36] #144 closed

[2021-05-10 09:21] lucygarner commented on #145
Thank you, this worked fine, but it just keeps crashing when I include more cells.  What sort of memory requirements would normally see?

[2021-05-10 09:31] lucygarner opened #146 "patternTest() to compare two separate linear trajectories"
Hi,

I was wondering whether it is possible to use `patternTest()` to compare gene expression patterns across two separate trajectories e.g. across two linear trajectories independently identified using Slingshot?  Can I run `fitGAM()` separately for the two trajectories and combine the output models somehow?

Many thanks,
Lucy

[2021-05-10 15:28] HectorRDB commented on #146
Hi @lucygarner
tradeSeq does not require that the lineages share a common origin but you can still fit a common model.
Assuming you have two slingshotDatasets objects `sds1` and `sds2`, this should create the correct cellweights and pseudotime vectors
[code]

You can also join the count matrices and run fitGam on this

[2021-05-10 18:27] HectorRDB commented on #145
Ok that is weird... The size of the stored info is not that great so if it works with 100, it should work with more. Did you try with the top 5000 genes or did that also crash?

[2021-05-14 11:01] elPiac opened #147 "Setting number of cores"
Hi, I' m trying to run DE on pseudotime analysies with Tradeseq.
I have a SingleCellExperiment object on which I run Slingshot for Pseudotime (5 lineges found, Description of the Object below).

My PROBLEM is that I'm using a shared server so i need to use only a limitated number of cores, but I can't set the number of cores to use.

Specifically I set Parallel = FALSE and set on 10 the number of

[2021-05-18 14:56] lucygarner commented on #146
Thanks, sorry if you `cbind(pst, pst)`, does this not give you a data.frame with two columns that are exactly the same?  Is this what you want?

I have pseudotimes from a different algorithm, so I do I just need to make a matrix with cells as rows and trajectories as columns, with NA if the cell if not on a given trajectory.  Then for the weights, it would be one column per trajectory and a score

[2021-05-18 16:31] HectorRDB commented on #146
Hi @lucygarner
I should have explained more, my bad.
Here we have two lineages, one from each trajectory. Each cell will need to have a pseudotime value in both lineages. Since each cell is assigned to only one lineage (the weights are respectively zero and one), it does not matter what value we pick so for simplicity, we can just duplicate the pseudotime values. But it would work the same if you

[2021-05-19 17:39] liuweihanty commented on #73
Hi @koenvandenberge , thanks for your clarifications in this issue. I encountered a similar question even though I updated to the latest TradeSeq version 1.5.19. So this is the code I ran my fitGAM:

`set.seed(3)
BPPARAM <- BiocParallel::bpparam()
BPPARAM$workers <- 3 # use 3 cores
#obtain the top 500 most variable genes
var.genes.28 <- seu28.comb@assays$SCT@var.features[1:2000]
top.var.28 <- subs

[2021-05-19 17:41] liuweihanty commented on #73
Hi @koenvandenberge  , thanks for your clarifications in this issue. I encountered a similar question even though I updated to the latest TradeSeq version 1.5.19. So this is the code I ran my fitGAM:

`set.seed(3)
BPPARAM <- BiocParallel::bpparam()
BPPARAM$workers <- 3 # use 3 cores
#obtain the top 500 most variable genes
var.genes.28 <- seu28.comb@assays$SCT@var.features[1:2000]
top.var.28 <- sub

[2021-05-19 18:22] liuweihanty commented on #73
I fixed the issue above by replacing **pseudotime = pt.28,cellWeights = cellWeights.28** inside fitGAM() to the slingshot object **sds = sds**, I guess it's some issue related to data format of my cellWeights and pseudotime matrix.

[2021-05-20 04:58] liuweihanty opened #148 "a question on setting knots for bifurcation analysis"
Hi There, may I ask a clarification question on this part of the Vignette(screenshot attached). Here the tutorial selected knot 1 and 2, but I'm a bit confused of which knots on the graph are 1 and 2 in this case.(I labeled the three early knots as a,b, and c), would you mind clarify? Thank you so much in advance!

![Screenshot 2021-05-19 at 23 52 35](https://user-images.githubusercontent.com/4344

[2021-05-20 06:56] koenvandenberge commented on #148
Hi,

In this trajectory, knot b is the starting point so it is what we refer to as knot 1.
Both knots a and c in your scheme are referred to as knot 2 in lineage 1 and 2, respectively. Note that lineage 2 has 5 knots while lineage 1 has 6 knots. While different lineages may have different number of knots, the position of the knots will be identical in terms of pseudotime, so knot 2 could be at a p

[2021-05-20 07:12] koenvandenberge commented on #147
Hi @elPiac,

If you set `parallel = FALSE`, then the `BPPARAM` argument is actually ignored in `fitGAM` and by default it only uses one core (it will just use a basic `lapply` loop). It should not be happening that you are using such a high number of cores with the arguments you're providing.
These high number of cores should therefore not be coming from `fitGAM`, maybe they could be coming from p

[2021-05-20 18:49] liuweihanty commented on #148
Hi @koenvandenberge , thank you so much for your explanation, that's very clear!

[2021-05-20 18:49] #148 closed

[2021-05-20 21:16] CodeInTheSkies commented on #100
I am having this same issue:

`Error in gam.fit4(x, y, sp, Eb, UrS = UrS, weights = weights, start = start,  :
  inner loop 3; can't correct step size
Calls: fitGAM ... fitGAM -> .local -> .fitGAM -> <Anonymous> -> lapply -> FUN
In addition: Warning message:
In .findKnots(nknots, pseudotime, wSamp) :
  Impossible to place a knot at all endpoints.Increase the number of knots to avoid this issue.
Ex

[2021-05-21 07:43] koenvandenberge commented on #100
Hi @CodeInTheSkies,

What's the version of `tradeSeq` you're working with? This seems to be an error that may have been fixed in more recent versions. Are you working with the most recent `tradeSeq` version?

[2021-05-21 14:41] CodeInTheSkies commented on #100
Hi @koenvandenberge,

Thank you for responding.  I realized that this may be a version-related issue after browsing some of the other questions.  Subsequently, I did install the developmental version, and so far, the code is running.  It has been several hours now.  I will leave it running to see if it successfully finishes.  Will update back afterwards.  Thanks again!

[2021-05-24 17:02] HectorRDB opened #149 "Slingshot and tradeSeq incompatibility"
With the new slingshot version, a `pseudoTimeOrdering` object called `slingshot` is added to the colData. However, when running `fitGam` on a `singlecellExperiment` object, we replace that `slingshot` object, which is not ok.

Lots of functions we need to replace, I'll replace the slinghsot column by a crv column!

But we may have some issues of backward compatibilites. Should we add a silent conv

[2021-05-24 17:04] HectorRDB commented on #149
I'll rename the `slingshot` DFrame by `crv`, it might also be more generalizable for the future...

[2021-05-24 20:04] YuliaInn opened #150 "How to select top genes for fitGAM?"
Hello,

I am following [this tutorial](https://kstreet13.github.io/bioc2020trajectories/articles/workshopTrajectories.html). I tried to run fitGAM for ~25K genes ~6K cells and 2 conditions but the predicted runtime was 3 days. I saw your recommendations to use highly variable genes in similar issues. Does gene=seq_len(2000) uses 2000 highly variable genes or random 2000 genes? If not, how do you u

[2021-05-24 21:42] HectorRDB commented on #150
Hi @YuliaInn
Indeed the runtimes issue is still there. We have a lot of ideas to speed it up but as of now, nothing has been implemented.

If you input `genes=seq_len(2000)`, it will just run fitGAM on the first 2000 genes of the object (probably by alphabetical order, depending on the structure).
You can pass indexes or genes names. If you've run the seurat tool to find variable genes and obtaine

[2021-05-26 04:53] kmshort commented on #149
I've had problems already and rolled back to earlier Slingshot and tradeSeq; sticking with that for now.

[2021-05-26 05:03] kmshort opened #151 "predictCells values"
Hi @HectorRDB, @koenvandenberge  et. al.
I'm using the code from your workshop as a basis to generate a matrix of scaled values from predictCells and plot them on a heatmap (using ComplexHeatmap, if it matters).
 I use ComnplexHeatmap::Heatmap because I can grab the row order from one heatmap, and apply it to another heatmap (which is great because I can then split the heatmap by conditions and ma

[2021-05-26 18:26] HectorRDB commented on #149
Hi @kmshort
That should be solved now with the latest versions of tradeSeq. If you have time to beta test at some point, it would be greatly appreciated!

[2021-05-26 18:30] HectorRDB commented on #151
No worries, that function is a bit weird.
For each cell, we have a pseudotime, and the count value for each gene. However, that count expression is noisy, i.e., the same cell with the same pseudotime values could have had different values for the counts of the genes.

With the fitGam function, we estimate a model for gene expression based on pseudotime. The predictCells function then output the av

[2021-05-27 01:06] kmshort commented on #151
Many thanks @HectorRDB
But I think you mean "However, that count expression is noisy, i.e., *different cells* with the same pseudotime values could have had different values for the counts of the genes". fitGam smooths over the differences, sort of doing what amounts to the equivalent of an advanced "median" filter in image processing.

The clincher in your explanation for me understanding this is

[2021-05-27 17:22] HectorRDB commented on #151
Thanks @kmshort
I was indeed incorrect, it's the average value for all cells with those pseudotime values and all other characteristics, such as library size or batch effect.

"The two functions would produce the same result If the cells were perfectly evenly spaced across pseudotime." So this is not exactly true. `predictSmooth` would return the same values as `predictCells` if the cells were per

[2021-05-28 03:34] kmshort commented on #151
Okay, thanks again @HectorRDB I didn't realise that it also took into account library size, etc.

I have a question about how you applied predictSmooth in your workshop, where you have two conditions.

[code]

From my interpretation of this, predictSmooth must use the conditions in the tradeSeq object, and calculate smoothers for each condition independently? Since you're using predictSmooth and s

[2021-05-28 16:22] HectorRDB commented on #151
To explain the code in words:
L1: generate the smooth expression value for the genes. The results is a matrix with one row per gene, and 100 columns (nPoints * 2 conditions)
L2: scale the gene expression. In the first version of the workshop, we scaled the conditions separately but we realized this would not work properly and create artificial differences.
L3-7: generate heatmap for the TGF condit

[2021-05-31 06:19] kmshort commented on #149
Hi @HectorRDB
Unfortunately, I'm trying to wrap up a large body of work - using Slingshot and tradeSeq (last biocondutor versions). I don't really want to start delving into it just now. But I will soon enough.
regards.

[2021-05-31 06:55] kmshort commented on #13
Hi @koenvandenberge
I wonder if you could look into per-thread memory usage when running fitGam().
I don't know how memory is managed per-thread now, and if R garbage collection has any involvement however if you can reduce the per-thread ram usage.. it would be great if you could. That might mean that individual jobs are divided into smaller jobs/reduce scope, for example. I've experienced this w

[2021-06-01 00:26] HectorRDB commented on #149
Thanks @kmshort
Users like you really help us make a better tool out of tradeSeq

[2021-06-02 22:16] Jabbath opened #152 "Meaning of fcMedian in patternTest"
Hi, I'm using your code to compare trajectories between a normal dataset and a mutant dataset that has some genes knocked out. I'm a little bit confused on what the fcMedian output of patternTest actually means.

I made a simple example with two sets of cells, where the cells have constant expression over time. The second set of cells had the first 50 genes up-regulated 1.9x compared to the first.

[2021-06-02 22:33] HectorRDB commented on #152
Hi @Jabbath
Thanks for using tradeSeq! I assume you're referring to the code of the workshop: https://kstreet13.github.io/bioc2020trajectories/articles/workshopTrajectories.html

First, I think there is some confusion on the tests. The `patternTest` compares multiple lineages, averaging the results across conditions. The `conditionTest` compares multiple conditions, either at the lineage level, or

[2021-06-02 23:54] Jabbath commented on #152
Ok that makes sense since then some low-level differences along the curve might lead to unintuitive results. Just to clarify though, for a single point along the curve the fold change is lineage2/lineage1 right?

I think I have been misunderstanding the tests somewhat though. I haven't actually been specifying the conditions. I've been comparing conditions as if they are two separate lineages in o

[2021-06-03 05:15] HectorRDB commented on #152
Yes the fold change is lineage2 / lineage 1 (so Mutant / WT in your case).

What you did is correct as well, if you only have one lineage per condition, it will give the same results.

[2021-06-03 05:35] Tianran1 opened #153 "evaluateK failed"
Error in quantile.default(tAll, probs = (0:(nknots - 1))/(nknots - 1)): missing values and NaN's not allowed if 'na.rm' is FALSE
Traceback:

1. evaluateK(counts = counts, pseudotime = pseudotime, cellWeights = cellWeights,
 .     conditions = factor(df$tissue), nGenes = 300, k = 3:7, parallel = TRUE,
 .     BPPARAM = BPPARAM)
2. evaluateK(counts = counts, pseudotime = pseudotime, cellWeights = cel

[2021-06-03 07:08] Tianran1 commented on #153
Sorry, I know the reason and it now runs successfully. But the results are not expected. I got all NAs for all K. And I don't know what happens since it doesn't report any errors, just a warning message:

Warning message in .findKnots(nknots, pseudotime, wSamp):
“Impossible to place a knot at all endpoints.Increase the number of knots to avoid this issue.”

[2021-06-03 09:29] koenvandenberge commented on #153
Hi @Tianran1

The first error seems to stem from `NA` values in the pseudotime.

For the second error, without knowing any details about the data that is provided as input, we cannot diagnose why you'd get `NA` values. The warning message should be unrelated to the `NA` values.
Please make sure that there are no `NA` or `NaN` values in the input (counts, pseudotime and cellWeights), and I'd also r

[2021-06-03 19:31] Jabbath commented on #152
Ok that would make sense. There is still one point of confusion about how I got log(fc) with my example dataset then. Here is the counts matrix I used:
<img src="https://user-images.githubusercontent.com/8083827/120699104-d5f04880-c464-11eb-9d12-fc95670f2891.PNG" height=400px>
The first 2000 columns are "cells" from the first dataset and the last 2000 are from the second dataset. I made 100 timepo

[2021-06-07 21:00] Tianran1 opened #154 "startVsEndTest, diffEndTest, patternTest seperate condition"
Hi,

My data contains two conditions and the lineages were separately constructed. But I found for startVsEndTest, diffEndTest and patternTest these three tests, the results are not separated by conditions. So Must I separate the data and use the test independently? Maybe you could consider adding this key to the test.

Best,
Tianran

[2021-06-07 21:46] HectorRDB commented on #154
Hi @Tianran1,
I think there is some misunderstanding regarding what is a lineage or a condition. A lineage might or might not be shared between conditions.
As such that tests you listed above will look at DE for genes along or between lineages. If more than one condition is present, then we perform an omnibus test across conditions.
If you want to compare conditions, I would refer to the `conditio

[2021-06-08 06:59] Tianran1 commented on #154
Hi,

Yes. I know what is lineage or condition. I mean, for example, the startVsEndTest, it just gives the result for each lineage from all cells, which is different from the result of associationTest. The associationTest gives the result of each lineage by each condition, so I got *_lineage1_condition1, *_lineage1_condition2, *_lineage2_condition1, *_lineage2_condition2.

Best,
Tianran

[2021-06-16 21:44] liuweihanty opened #155 "how is the end points defined for diffEndTest()"
Hi there, I have a question which is still unclear after reading the 2020 nature communication paper. So for diffEndTest() function, how does it define the "end points" for each lineage to compare? For example, how many cells does it choose from the terminus of each lineage and how does it choose these cells?(eg just chose the cells with largest pseudotime values?)  Thank you so much!

[2021-06-16 23:52] HectorRDB commented on #155
Hi,
The endpoints are the endpoints of the lineages, i.e., they do not represent any cells. You can see them as the average cell with the maximum pseudotime value in that lineage.
If you look at the image below from the [slinghshot paper](https://bmcgenomics.biomedcentral.com/articles/10.1186/s12864-018-4772-0)

![](https://media.springernature.com/lw685/springer-static/image/art%3A10.1186%2Fs1286

[2021-06-17 05:53] liuweihanty commented on #56
Hi @HectorRDB , figure it might be better to follow up to this post than open a new one because I encountered the exact same error message.
 I was running pattern test,  and I got the error message:
`Error in t(L) %*% Sigma : non-conformable arguments`
 my code is
`patternRes <- patternTest(de.test.28,pairwise = TRUE)`
I set pairwise = TRUE because I have 4 lineages and wanna compair them pairwise

[2021-06-17 16:07] HectorRDB commented on #56
Hi @liuweihanty
Thanks for following up on the issue.
Could you share with me the object (or a subset of the object) so that I can investigate?
my email is hector dot rouxdebezieux at berkeley dot edu
Best

[2021-06-17 18:48] HectorRDB commented on #56
Got the email thanks.

To start, I am unsure about your trajectory. This is what the curves look like in reduced dimension. Unless you have further biological information, I think the trajectory should only have two lineages (2 and 3)
![image](https://user-images.githubusercontent.com/27447880/122455726-909e4180-cf61-11eb-8e97-0c4e977908dc.png)

Furthermore, I found the issue. FitGam failed to fit

[2021-06-22 06:51] koenvandenberge commented on #133
I have transferred this issue to our visualization package, `traviz`, at https://github.com/koenvandenberge/traviz/issues/1

[2021-06-22 06:51] #133 closed

[2021-07-08 05:16] YingxinLin commented on #117
Hi,

I also got NA values for some genes from association test using all default setting. I tried to set contrastType to different parameters, but still exist some NA values in the results. Are some of these NA to be expected? My tradeSeq package version is 1.7.02.

Yingxin

[2021-07-08 07:05] koenvandenberge commented on #117
Hi @YingxinLin ,

Thanks for reaching out. For some genes, it is hard to calculate the variance-covariance matrix of the contrasts, and in those cases we may return `NA` values. This sometimes happens with genes that for example are barely expressed except for a few cells. If you're only having a couple of `NA` values, it should be fine.

[2021-07-16 17:01] NK-HD opened #157 "Identification of lineage based on monocle3 trajectory umap"
Hello and thanks for developing tradeSeq!
Please excuse me, but I have a rather basic question:

How do I confidentially identify which lineage number (lineage 1, 2...) corresponds to which of my trajectories identified via monocle3 on a Seurat UMAP ? Meaning for example on a umap monocle output, how do I know which of these branches is termed lineage 1 later on?

Thanks so much for your help and

[2021-07-18 03:50] liuxl18-hku opened #158 "Confusing xlab of cluster trend plot for clusterExperiment results"
Dear developer,

I actually found the [following piece of code](https://github.com/statOmics/tradeSeq/blob/28918eda2dd70a9a23c38bbf7d6df39bb80f1a32/vignettes/tradeSeq.Rmd#L318-L344) confusing, because the x-axis seems not real slingshot/monocle inferred pseudotime (or cell assignment), they are  linear `1:nPoints`. The concern to me is that I am not sure pseudo time is linear or not.

Why not we u

[2021-07-26 13:55] ppaxisa opened #159 "Memory limitation for large dataset"
Hi, I am trying to use `tradeSeq` on a large dataset: ~250K cells by ~10K genes. I am also adding a model matrix `U` with ~70 indicator variables to account for various batch effects. Running `evaluateK` with a dgcMatrix `GEX` and `pseudotime` with one lineage (one column):

`icMat <- evaluateK(GEX,
                    pseudotime = pseudotime,
                    U = U,
                    paralle

[2021-07-26 16:38] liuweihanty opened #160 "bioc2020trajectories package cannot be installed"
Dear Tradeseq team! I'm following the vignette https://kstreet13.github.io/bioc2020trajectories/articles/workshopTrajectories.html for my analysis. When I am about to calculate the inbalance score:
`scores <- bioc2020trajectories::imbalance_score(
  rd = reducedDims(sce)$UMAP,
  cl = colData(sce)$pheno$treatment_id,
  k = 20, smooth = 40)`
The system reminds me that  bioc2020trajectories package i

[2021-07-27 10:45] Biglinboy commented on #14
Hi, @koenvandenberge @kstreet13
I am trying to identify genes that change their expression over the course of development with slingshot,but have a problem after running the following fitGAM code, sce has been an object of slingshot after running slingshot method. Can you help me?
Thanks
[code]

[2021-07-29 08:54] #158 closed

[2021-07-29 19:15] DustinSokolowski opened #161 "PlotGeneCount color levels change internally"
Hey!

Thank you for the fantastic package and tool. It has aided hugely in multiple projects. As we are moving towards publishing, we're cleaning up the visualizations as much as possible. This includes having the cluster colors on `PlotGeneCount` matching the cluster colors in Seurat's `DimPlot`. I am fairly certain that you internally re-order the clusters by their factor instead of by their ind

[2021-07-30 10:29] hfc0518 opened #162 "Different pseudotime values between fitGAM and Slingshot output"
Many thanks for developing this great package! I recently found that the pseudotime values between fitGAM and Slingshot output were not the same (please find the attached images, one produced using the slingPseudotime_1 values from slingshot output and the other image produced using the  fitGAM$crv$pseudotime.Lineage1 values. I would greatly appreciate it if you could help clarify whether these tw

[2021-08-03 15:30] FADHLyemen opened #163 "object '.getPredictCustomPointDf' not found"
Before you submit this issue it may be worth updating `tradeSeq` to the latest version to make sure that your issue has not already been fixed in the latest release. To update to the latest development version, please run:

[code]

If your issue persists, then please submit this bug report.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
If possible, des

[2021-08-05 11:46] koenvandenberge commented on #159
Hi @ppaxisa,

Thank you for sharing this.

Note that [internally we're converting the sparse matrix to a dense matrix](https://github.com/statOmics/tradeSeq/blob/master/R/evaluateK.R#L211) as we've previously had issues with allowing a full sparse matrix support. It could be that it's this step that's already giving us memory issues.

Your dataset is very large indeed and we haven't yet tried runn

[2021-08-05 11:49] koenvandenberge commented on #160
Hi @liuweihanty

The error is telling you to install `HDF5Array` prior to installing `bioc2020trajectories`, so I would refer you to the developers of that package if you need help with properly installing their package. That said, you should be able to install it from Bioconductor: https://bioconductor.org/packages/release/bioc/html/HDF5Array.html.

Also, if you're interested, there is a new vers

[2021-08-05 11:49] #160 closed

[2021-08-05 12:06] koenvandenberge commented on #161
Hi @DustinSokolowski

Thank you for the feedback, this is greatly appreciated.
If I understand correctly you're using the same colors using Seurat's `DimPlot` as well as using tradeSeq's `plotGeneCount`, and the issue you are having is that in Seurat the colors are assigned according to sorted numeric cluster numbers, but in tradeSeq they are assigned according to sorted factor-variable cluster nu

[2021-08-05 12:47] koenvandenberge commented on #162
Hi @hfc0518

Thank you for sharing. It's not immediately clear to me from your code what's happening, and I wonder if it's related to the conditions you're also providing.

Are you able to create a working reproducible example of this?
Or, alternatively, are you willing to share (a subset of) the `slingshot_res` and `fitGAM_res` objects?

Thanks.

[2021-08-05 13:07] #117 closed

[2021-08-05 13:08] #13 closed

[2021-08-05 13:08] #110 closed

[2021-08-05 13:08] #128 closed

[2021-08-05 13:09] #134 closed

[2021-08-05 13:09] #145 closed

[2021-08-05 13:09] #147 closed

[2021-08-05 13:11] #149 closed

[2021-08-05 13:11] #150 closed

[2021-08-05 13:11] #151 closed

[2021-08-05 14:09] kstreet13 commented on #160
We should also point out that since that was an older version of the workshop, we hadn't yet developed the [`condiments`](http://bioconductor.org/packages/release/bioc/html/condiments.html) package, which is where the `imbalance_score` function lives now. Installing that and replacing `bioc2020trajectories::imbalance_score` with `condiments::imbalance_score` might be enough to solve the issue.

[2021-08-05 17:14] DustinSokolowski commented on #161
Hey!

Yes that's exactly the feedback! Having the option (b) specifically would allow for the plotGeneCount colors match those in Seurat while keeping the legend consistent.

Thanks so much!
Dustin

[2021-08-06 15:02] ppaxisa commented on #159
Hi @koenvandenberge,

Thanks for the reply, I noticed afterwards the conversion to dense matrix, that's probably the issue.

When running `evaluateK` on small number of genes (2,10,100) I get the following error:

[code]

Which I think is related to the library normalization from `edgeR:: calcnormfactors`? I'm guessing there is not enough data in each cell to properly calculate normalization facto

[2021-08-06 16:13] koenvandenberge commented on #159
Hi @ppaxisa

The first code chunk errored because `nGenes` is by default equal to `500` and we only give 100 genes to `evaluateK`. I forgot to change the `nGenes` default on the code I suggested, my bad. This then also explains why the second chunk works, instead.

The memory error indeed comes from trying to convert the sparse matrix into a dense matrix. `edgeR::calcNormFactors` can actually hand

[2021-08-06 16:16] #153 closed

[2021-08-06 17:40] ppaxisa commented on #159
Hi @koenvandenberge,

Thanks I think that works for me. I would just point out that I am not sure that `edgeR::calcNormFactors` will actually handle the sparse matrix, it looks like it will convert internally to a dense matrix from looking at the [source code](https://rdrr.io/bioc/edgeR/src/R/calcNormFactors.R). Is that right? Obviously nothing you could do if that's the case.

[2021-08-07 09:09] hfc0518 commented on #162
Many thanks for getting back to me. Please find the attached zip file containing a subset of the slingshot_res and fitGAM_res object (the first 20 rows). Please let me know if there's anything else you may need. Thank you in advance
[slingshot and fitGAM res subset.zip](https://github.com/statOmics/tradeSeq/files/6948864/slingshot.and.fitGAM.res.subset.zip)

[2021-08-09 07:01] Marius1311 opened #164 "CellRank interface"
Hi TradeSeq team! I think you guys developed an awesome tool, and we were discussing recently whether and if we could interface to it from CellRank. CellRank defines trajectories through a soft assignment of cells to branches and one global pseudotime. So the idea would be to construct an interface that would allow users to seamlessly transition from CellRank to tradeSeq, once the trajectories hav

[2021-08-09 10:18] koenvandenberge commented on #159
Hi @ppaxisa

I had just checked whether `edgeR::calcNormFactors` accepts a sparse matrix, in order to identify the root of the error.
It is true, as you say, that it does convert the sparse matrix to a dense matrix. But then I do find it surprising that you're running into memory issues when `evaluateK` converts the matrix to a dense matrix, but not when `calcNormFactors` does this...

If you're p

[2021-08-09 10:32] koenvandenberge commented on #161
Hi @DustinSokolowski

Note that most of our plotting functions, including `plotGeneCount` return a `ggplot` object and therefore you can tweak it post-creation.
In your case, you should easily be able to change both the colors as well as the legend labels.
I provide a reproducible example below, let me know if this solves your issue.

[code]

[2021-08-09 14:39] ppaxisa commented on #159
Hi @koenvandenberge,

Thanks for looking into this and thanks again for the package. I think that closes the issue.

[2021-08-09 14:39] #159 closed

[2021-08-09 20:34] HectorRDB commented on #164
Hi @Marius1311. Thanks for the idea, I think it would indeed be useful to users.
The main tradeSeq functions is `fitGam`, which fit the smoothers for each gene. It accepts several input formats. The most useful would be the following:

+ the counts matrix, with the `counts` argument
+ a matrix of weights, with one row per cell and one column per lineage, with the `cellWeights` argument. It looks l

[2021-08-10 10:16] Marius1311 commented on #164
Hi @HectorRDB, thanks for getting back to me! I'm channeling in @michalk8 for the technical details of constructing the interface. @michalk8, how would you construct the interface?

@HectorRDB, how are `cellWeights` used internally? Do you just assign every cell to it's argmax lineage, or are the weights taken into account when fitting the GAMs?

Writing a small vignette/tutorial together would be

[2021-08-10 14:17] HectorRDB commented on #164
Hi @Marius1311
The `cellWeights` are first normalized to sum to 1 and then cells are randomly assigned to one lineage according to a multinomial distribution with the normalized weights acting as event probabilities (see [here](https://github.com/statOmics/tradeSeq/blob/5c94a8f9c917b84b2cd060a300d29b9f9c2d11ee/R/fitGAM.R#L1) for the relevant piece of code).

As an aside, we also tried a version wh

[2021-08-11 08:33] michalk8 commented on #164
The interface really depends on how we want to use `tradeSeq`'s GAM (i.e. either only for significance testing, or whether we want to use the model in our functions, such as `cellrank.pl.cluster_fates`).
If only the former is wanted, than, simply wrapping these with `rpy2` in `cellrank.external` is not an issue and is fairly straightforward.
On the other hand, if we'd like to have a `tradeSeq` mod

[2021-08-11 11:25] Marius1311 commented on #164
@HectorRDB, that's surprises me, because we do just that in CellRank (we fit GAMs to visualize gene expression trends along lineages, passing lineage-probabilities as cell-level weights into the loss function) , see below for some example fits from our preprint. I wonder why that didn't work in your case - I think softly assigning cells to lineages via cell-level weights makes more sense because i

[2021-08-12 10:15] koenvandenberge commented on #164
Thank you for these suggestions, @Marius1311.
It would indeed be useful and relevant to see if we can try to streamline a workflow from `CellRank` to `tradeSeq` and we'll be glad to help.

As @HectorRDB is mentioning we have indeed also considered soft assignment of cells to lineages. We considered two options:

 - Using `mgcv`'s `by` statement in `mgcv::s`, which also leads to good fits and as yo

[2021-08-12 10:32] Marius1311 commented on #164
Thanks @koenvandenberge! @michalk8, how exactly do we use the weights in `mgcv`?

[2021-08-12 18:26] DustinSokolowski commented on #161
Hey!

More or less! that code still sorts the clusters by their character (e.g., 1, 10, 14, 2, 3) but by re-ordering the values within scale_color_manual I could circumvent the issue. Thank you so much for all of your help with this.

Best!
Dustin

[2021-08-12 18:26] #161 closed

[2021-08-13 13:17] michalk8 commented on #164
By default, we use this formula `y ~ s(x, bs='cr', k=5, sp=1.0)`.

[2021-08-15 06:05] Marius1311 commented on #164
So where do the weights come in @michalk8? Is it the first or the second possibility that @koenvandenberge describes?

[2021-08-15 14:09] michalk8 commented on #164
The second, we're passing it as `weights` in `mgcv::gam`.

[2021-08-16 11:56] Marius1311 commented on #164
Hi @koenvandenberge, should we have a zoom chat about this sometimes? Seems easier to me.

[2021-08-16 17:14] kstreet13 commented on #150
Sorry for not adding this earlier but for posterity, I would also recommend checking out deviance-based filtering. Since variance is generally correlated with mean expression level, selecting for highly variable genes can end up being roughly the same as selecting highly expressed genes, which aren't _always_ the most informative. [This vignette](http://bioconductor.org/packages/release/bioc/vigne

[2021-08-17 08:23] koenvandenberge commented on #164
Sounds good to me.

This week, I believe that both @HectorRDB and I are on Central European Time (but it's possible @HectorRDB is taking some time off). As of next week I will be in California and so it might be a little bit harder to find a good time to meet.

This week I can do

 - Wednesday between 10AM-12PM and in the afternoon after 2PM.
 - Thursday I can do 4PM-6PM.
 - Friday is completely f

[2021-08-17 14:27] Marius1311 commented on #164
@michalk8, would Friday morning work for you?

[2021-08-17 20:17] FADHLyemen opened #165 "pairwise =TRUE in conditionTest"
If you'd like to request new features or changes, please fill in relevant sections in the template below.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise descrip

[2021-08-22 09:51] koenvandenberge commented on #164
Following points were discussed in the meeting (feel free to correct and add where needed).

 - `CellRank` uses RNA velocity information of each cell to probabilistically determine its most likely future (among its k-nearest neighbors). By propagating these velocities, "fate probabilities" are derived for each cell, which may be interpreted as the probability that a cell will develop to each of th

[2021-08-29 15:02] FADHLyemen commented on #165
@koenvandenberge
I am totally confused about the difference between conditionTest and associationTest they have same output:
![image](https://user-images.githubusercontent.com/23288387/131254222-82ba1a32-c211-4cdd-b42f-c90501f04989.png)

![image](https://user-images.githubusercontent.com/23288387/131255100-387fa10b-228a-434c-bda4-de900ae1fc9e.png)

so what is the difference between these two funct

[2021-08-30 16:34] FADHLyemen opened #167 "plotSmothers for each lineage separately"
If you'd like to request new features or changes, please fill in relevant sections in the template below.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise descrip

[2021-08-30 16:49] HectorRDB commented on #167
Hi @FADHLyemen
Thanks for using slingshot.
I assume that you want to reproduce the plots outputed by `plotSmoothers` but to have a separated plot for each lineage?

You have two possible options:
+ You can pass the colors for the points and the lineages to the `plotSmoothers` function and use "transparent" for the points and curves you don't want to see. If you look at the help for the function, i

[2021-08-30 17:01] HectorRDB commented on #157
Hi @NK-HD
Sorry for taking the time to answer, we were off for most of August.

It's not fully clear to us of the monocle3 objects are build in term of how their objects are build so our tools to extract the lineages are quite ad hoc. I think the easiest way to identify which lineages is which is to plot the cells, colored by, say, the weights from lineage 1. That should help you identify which is

[2021-08-30 17:02] FADHLyemen commented on #167
thank you @HectorRDB

I got weird figure when using
[code]

![image](https://user-images.githubusercontent.com/23288387/131375943-61704af9-93f6-4ce8-a08c-3290815c7d2f.png)

[2021-08-30 17:06] FADHLyemen commented on #167
@HectorRDB
transparent option also cut your lines from the another lineage

![image](https://user-images.githubusercontent.com/23288387/131377125-66cfd5c7-8f61-44ef-babc-ffb2029d9ecd.png)

[2021-08-30 17:06] HectorRDB commented on #167
Oh I see, you also have conditions...
Then I think you'll need to resort to option number 1.
I think the cuts come because you did not specify `border =FALSE`. If that's not the case, I'll look into it.
Best

[2021-08-30 17:11] FADHLyemen commented on #167
I put border =FALSE but still have same plot.

[2021-08-30 17:12] FADHLyemen commented on #167
I think this is because lineage column has condition and lineage together

![image](https://user-images.githubusercontent.com/23288387/131377935-81843284-142a-46ac-9ded-8332f01c2c70.png)

[2021-08-30 17:17] HectorRDB commented on #167
I'll take a look and come back to you.

[2021-09-01 14:53] FADHLyemen commented on #167
@HectorRDB do we have a way to color the dots based on cell types rather than the lineage condition combination.

something such output from Pesudogene plot function
![image](https://user-images.githubusercontent.com/23288387/131693813-b9e0a5b5-7e9a-4d2f-892a-2c3a041855a4.png)

[2021-09-01 15:41] HectorRDB commented on #167
Indeed, you can use the `pointCol ` argument to do so

[2021-09-01 17:30] FADHLyemen commented on #167
thank you @HectorRDB
have you figure out how to stratify plot by lineage?

Thank you

[2021-09-01 17:39] HectorRDB commented on #167
No sorry and it might be a couple weeks before I have the bandwidth to tackle this. In the meantime, you can use the `predictSmooth` function and build your own plots if time is an issue.

[2021-09-02 14:26] #163 closed

[2021-09-03 17:28] michalk8 commented on #164
Hi @koenvandenberge ,

sorry for late reply, I've tried the above mentioned stacking approach on simulated data (as well as weights from CellRank), but it seems that `mgcv` doesn't use the obs. weights as the #observations (the weights sum to #obs, as mentioned above), assuming I di the things correcly (see the notebook below) - I've looked at the mean variance-covariance matrix and it decreases w

[2021-09-04 00:50] koenvandenberge commented on #165
Yes, this is correct.

[2021-09-04 00:50] #165 closed

[2021-09-07 08:26] Marius1311 commented on #164
@koenvandenberge, did you have a chance to look at this yet?

[2021-09-08 20:50] koenvandenberge commented on #164
Thanks so much for taking a look at this, @michalk8. This is indeed what I was afraid might happen.

We've been talking a bit about the assignments and it would be good if we could play around with an example dataset where you think this would be useful. Could you therefore please share with us a fitted `CellRank` trajectory and the accompanying data?
It would be great if we could use that to expl

[2021-09-09 10:12] Marius1311 commented on #164
Hi @koenvandenberge, thanks for getting back to us. You can get an example of CellRank's weights by running our basic tutorial: https://cellrank.readthedocs.io/en/stable/cellrank_basics.html

The data is included in `cellrank.datasets` and is downloaded automatically.

[2021-09-10 21:06] michalk8 commented on #164
I will share with you on Monday the notebook I've used to get the CR data when testing the smoothers (though as Marius mentioned, it should be pretty straight-forward, I also just ran the tutorial + exported to csvs).

[2021-09-15 13:36] michalk8 commented on #164
Sorry for late reply, here's the notebook:
[cellrank_export.ipynb.txt](https://github.com/statOmics/tradeSeq/files/7170482/cellrank_export.ipynb.txt)

[2021-09-19 14:44] kaibtan opened #170 "Error in matrix(pseudotime, ncol = 1) when running plotSmoothers"
**plotSmoothers - Error in matrix(pseudotime, ncol = 1) :
  'data' must be of a vector type, was 'NULL'**

Before I ran _slingshot()_, I converted the Seurat object (seu) to a SingleCellExperiment (sce) as shown below:
[code]

I then proceeded to Tradeseq with a list of genes of interest to cut the runtime for _fitGAM()_. I also tried with all genes, the problem persisted.

[code]

When I try to p

[2021-09-20 09:21] kaibtan commented on #170
Strangely, I rebooted my R studio and now it worked.

[2021-09-20 09:21] #170 closed

[2021-09-21 16:07] FADHLyemen opened #171 "Error in result[[njob]] <- value : attempt to select less than one element in OneIndex"
Before you submit this issue it may be worth updating `tradeSeq` to the latest version to make sure that your issue has not already been fixed in the latest release. To update to the latest development version, please run:

[code]

If your issue persists, then please submit this bug report.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
If possible, des

[2021-09-23 05:46] liuweihanty commented on #73
hello @koenvandenberge , I'd just like to follow up and see if the paralell implementation  using **BPPARAM <- BiocParallel::bpparam()** is fixed in the latest version of tradeSeq? thanks!

[2021-09-27 10:20] FADHLyemen commented on #167
@HectorRDB I appreciate it if you find a solution for it.

[2021-10-02 20:56] Haikelnb opened #172 "Testing for the expression of isoforms over pseudotime"
Hello and thanks for developing tradeSeq!

We have been using tradeSeq for our scRNA-seq data but would now like to expand our analyses to testing whether two isoforms of the same gene are expressed similarly throughout pseudotime (i.e., do they covary). Is there a simple way to implement such a test in tradeSeq?

Thanks for you help!

[2021-10-05 16:48] Erinke89 commented on #149
Hello, thanks for this update. I unfortunately have this same issue on tradeSeq 1.4.0, is this too old to have the issue fixed? It seems the most uptodate version for my setting (R 4.0.0, Bioconductor 3.12), I can't install the development version because of the dependency on TrajectoryUtils. Does this mean I can only circumvent the issue by updating R?

[2021-10-08 12:03] HectorRDB commented on #162
Closing after a month of inactivity, feel free to reopen if the issue persists

[2021-10-08 12:06] HectorRDB commented on #171
Hi @FADHLyemen
The parallelization can sometimes fail, and it is very hard to diagnose. I can only suggest re-trying and seeing if the problem persits, or running without parallelization.

[2021-10-08 12:06] #171 closed

[2021-10-11 17:10] Haikelnb commented on #172
Thanks for your response @koenvandenberge!

I believe we are more interested in the first; to test for similar “timing” of expression (regardless of the absolute value of expression).

[2021-10-12 03:51] ylxing001 opened #173 "Error in matrix(pseudotime, ncol = 1) when running plotSmoothers"
**plotSmoothers - Error in matrix(pseudotime, ncol = 1) : 'data' must be of a vector type, was 'NULL'**

I used plotSmoothers to plot gene expression along the pseudotime from "sce1" as the object containing all genes after using fitGAM function.

plotSmoothers(sce1, assays(sce1)$counts,
              gene = "Gene",
              alpha = 1, border = TRUE)

However, it returned with the following e

[2021-10-14 14:28] koenvandenberge commented on #172
Thanks! So you're interested in finding two/multiple isoforms from the same gene that may have any expression pattern, as long as the expression pattern is the same, right? Or are you more specifically interested in specific patterns?

This doesn't sound like an easy question to me. First of all, we would have to define what it means for two isoforms to be 'expressed similarly', which would likely

[2021-10-16 09:52] fishmatt commented on #99
Hi Hector,
sorry to re-open this but I just wanted to clarify where I can implement your line of code here as I am having the same issue with a lot of P values coming out as 0.
I get this when using `startVsEndTest(sce_fitGAM)`. where do i run your solution above?

thanks for this great package, I have been implementing it on bulk RNAseq and am having a lot of success with it alongside slingshot.

[2021-10-20 02:58] zji90 opened #174 "conditionTest using pseudotime other than slingshot"
Hi,

I wonder if there are any means to run conditionTest if we have pseudotime constructed using software other than slingshot. From the manual, it seems that running slingshot is a prerequisite of running tradeSeq functions such as conditionTest, but we happen to have pseudotime that is not obtained using slingshot.

Thanks a lot!

[2021-10-20 09:51] fishmatt commented on #99
Hi @HectorRDB
thanks for your speedy reply. All sorted and working! Ha, you are welcome. - thanks for the appreciation ;)

[2021-10-20 11:37] #99 closed

[2021-10-22 02:50] ylxing001 commented on #173
Hi @HectorRDB
You are absolutely right. I rerun the codes using the latest version of TradeSeq and it worked. Thank you!

[2021-11-12 15:45] lucygarner commented on #145
Hi @HectorRDB,

Just to update on this - I managed to get the code to run in the end with 24 cores and 500 GB memory.  This is for ~25,000 cells.

Best wishes,
Lucy

[2021-11-12 19:12] HectorRDB commented on #145
Thanks!

[2021-11-18 04:29] FADHLyemen opened #175 "how to fitGAM for genes between lineages?"
Slingshoot inferred two lineages, how to use fitGAM to identify genes that differ between lineages?
How to justify why we have two lineages? any ideas?

[2021-11-18 13:20] koenvandenberge commented on #175
Hi @FADHLyemen

We have [a vignette](https://bioconductor.org/packages/release/bioc/vignettes/tradeSeq/inst/doc/tradeSeq.html) that you can follow to assess differential expression between lineages. There is also [a vignette on fitGAM](https://bioconductor.org/packages/release/bioc/vignettes/tradeSeq/inst/doc/fitGAM.html).

Justifying whether you have two lineages usually requires domain knowledge

[2021-11-18 13:21] koenvandenberge commented on #174
Closing after a month of inactivity, please feel free to comment and reopen if you encounter any issues.

[2021-11-18 13:21] #174 closed

[2021-11-18 13:23] koenvandenberge commented on #172
Closing after a month of inactivity, please feel free to comment and reopen if you are still working on this or if what I said was not what you're looking for.

[2021-11-18 13:23] #172 closed

[2021-11-30 08:53] pchiang5 opened #176 "high counts of unknown source"
Hello,

I generated the pseudotime and weight data with the code below
`sce <- slingshot(sce, clusterLabels = 'GMM', reducedDim = 'PCA', start.clus = '4', end.clus = c( '0','5', '2', '1')))`

The trajectory looked reasonable (left panel of the attached figure).

When I proceeded to get the expression curve of a gene (code below), there were high counts at the beginning of the pseudotime (middle pa

[2021-11-30 09:52] koenvandenberge commented on #176
Hi @pchiang5

These are probably the cells in the yellow cluster.  Note that these cells are actually quite close to both lineage 2 as well as the starting point of your trajectory. Therefore, some of these will get assigned to the starting point.
If you believe that this should not be, you may consider trying to get lineage 2 from your starting cluster immediately to the yellow cluster, instead o

[2021-11-30 10:03] koenvandenberge commented on #164
Hi @Marius1311 and @michalk8,

A PhD student in our group, @ViktorVerstraelen, has been looking into this in more depth.
We first tried using the `CellRank` weights as is in a default `tradeSeq` pipeline. Since some lineages have very low `CellRank` weights overall, this leads to few cells being assigned to that lineage, and thus a higher uncertainty of the mean expression smoother.
This will lead

[2021-11-30 11:12] pchiang5 commented on #176
Thank you @koenvandenberge!

I will consult the slingshot team about the issue.

[2021-11-30 11:12] #176 closed

[2021-11-30 11:17] Marius1311 commented on #164
Hi @koenvandenberge! Thanks for getting back to me. The point about early cells having very low weights for particular trajectories (e.g. Delta for pancreas) is not really inherent to CellRank, it's inherent to the Velocity kernel, i.e. that's really a feature of RNA velocity. With other CellRank kernels, i.e. with the Pseudotime kernel, I expect this to be less of an issue.

[2021-11-30 11:28] koenvandenberge commented on #164
I see, thanks for bringing that up.
If I understand correctly, the Pseudotime kernel will not use the RNA velocity information and relies mainly on the distances in the low-dimensional embedding. In that case, I think `tradeSeq` can be applied directly downstream of `CellRank` and all we need is interoperability to make this a smooth pipeline. Would you agree?

[2021-12-02 04:55] pchiang5 opened #177 "patternTest(sce, pairwise = T) with error"
Hello,

When I use `patternRes <- patternTest(sce)`, the code ran fine. However, an error below showed up when I included `pairwise` in the code  as `patternRes <- patternTest(sce, pairwise = T)` with the same sce object (4 lineages in the object). Did it mean I have to specify the lineages to compare? Thank you.

[2021-12-02 07:36] koenvandenberge commented on #177
Hi @pchiang5 ,

Thanks for reporting this issue.
What version of `tradeSeq` are you using?
Do you mind trying again with the latest version by installing it from GitHub?
If the error still persists then, we will take a look to resolve this.

[2021-12-02 10:48] Marius1311 commented on #164
Yes! The PseudotimeKernel is inspired by Palantir (Setty et al., Nature Biotech 2019), e.g. it combines a KNN graph with a pseudotime. However, it uses a different, more stable weighting scheme than Palantir and it allows the user to input any pseudotime, e.g. Monocle, Slingshot, DPT, etc. There's no RNA velocity information used here

There's also the CytoTRACE kernel, which does not use RNA velo

[2021-12-02 10:49] Marius1311 commented on #164
Is this still a problem? Or did we find a solution to this? Should we reach out to someone from mgcv to help us with this?

[2021-12-02 21:43] kweir6 opened #178 "clusterExpressionPatterns: User-supplied `transFun` produces NA values"
Hello,

I am running into an error when trying to cluster gene expression when using the clusterExpressionPatterns function.

I generate a single cell experiment object using slingshot:

counts <- singlecell@assays[["SCT"]]@counts
umap <- singlecell@reductions[["umap"]]@cell.embeddings
labels <- singlecell@meta.data$myclusters

shot <- slingshot(data = umap, clusterLabels = labels, start.clus= c("

[2021-12-03 02:28] pchiang5 commented on #177
Hi @koenvandenberge,

Thank you for the prompt response.

I update the package to 1.8.0. The identical issue remains.

Besides, I wonder if the `'global'` output also includes the `'pairwise'` comparison, which means the positive ones with the `'pairwise'` comparison will also be positive with the `'global'` comparison? If yes, maybe I can check the positive one by one if the number is not too lar

[2021-12-03 16:36] kweir6 commented on #178
Hey,

I discovered NA values in my sce object.

pat <- patternTest(sce)

gene_nona <- rownames(pat[!is.na(pat$df), ])

nPointsClus <- 20
clusPat <- clusterExpressionPatterns(sce, nPoints = nPointsClus, genes=gene_nona, verbose=TRUE)

Works

[2021-12-03 16:36] #178 closed

[2021-12-07 13:49] koenvandenberge commented on #177
Thank you for checking this.

The `global` comparison performs an omnibus test that includes all pairwise comparisons. In your case, you have five different lineages and significance of the global test means that **at least** one of the pairwise comparisons is showing evidence for DE as defined by the `patternTest`.

We have not implemented flexibility to only focus on a subset of the pairwise com

[2021-12-08 05:20] pchiang5 commented on #177
Hello @koenvandenberge

The input below returned the error (no `conditions` argument). I did not include all genes in the sce object for figGAM (only the subset in GOI).
`sce <- fitGAM(sce,  parallel = TRUE,  verbose = TRUE, genes = GOI,  nknots = 12, BPPARAM = BiocParallel::bpparam())`
`patternRes <- patternTest(sce, pairwise = TRUE)`

Regarding `plotSmoothers`, I found the lost curve was caused

[2021-12-08 08:16] koenvandenberge commented on #177
Thanks for clarifying. Just to be sure, what is the output from `range(colSums(counts(sce)[GOI,]))`?

[2021-12-08 08:39] pchiang5 commented on #177
Please see the output below:

`range(colSums(counts(sce)[GOI,]))`

`patternRes <- patternTest(sce, pairwise = T)`

[2021-12-09 14:28] koenvandenberge commented on #177
Hi @pchiang5, I'm unable to reproduce this error; do you mind sharing a subset of your data I can work with, resulting in the error?

[2021-12-13 00:44] pchiang5 commented on #177
Hi @koenvandenberge

Thank you for trying to reproduce the error.

After comparing the my data with the reference data in your tutorial https://bioconductor.org/packages/devel/bioc/vignettes/tradeSeq/inst/doc/tradeSeq.html[], I found the error was the result of the NA values in the slingshot pseudotime. The error could be corrected by the following input (an = FLASE while extracting pseudotime):

[2021-12-13 11:26] koenvandenberge commented on #177
Hi @pchiang5,

Thanks for the info.
I have just updated `tradeSeq` to return `NA` values in the `patternTest` pairwise comparison results whenever we have been unable to fit the data for a gene. Could you restart your R session, re-install `tradeSeq` from the repository (e.g. using `devtools::install_github`), and check if this resolves your issue?

[2021-12-14 03:31] pchiang5 commented on #177
The update worked. Thank you @koenvandenberge.

[2021-12-14 03:31] #177 closed

[2021-12-14 09:34] koenvandenberge commented on #177
Thank you for reporting and your patience in finding a solution, which has helped us in improving the package!

[2021-12-17 16:31] Matthew1309 opened #179 "New to single cell analysis, don't know how to save tradseq object"
I am fairly new to single cell analysis, and I have been following along with various tutorials (seurat, monocle, and your vignette). From the seurat tutorial, they have a saveRDS function that lets me save my object whenever I want, but I can't seem to find a similar function for TradeSeq or Slingshot.

If you could point me in the right direction on how to save my work, I would really appreciate

[2021-12-17 16:48] HectorRDB commented on #179
hi @Matthew1309
saveRDS is not a Seurat function but exists with the default R and work with any object. In the future, you can find help on function by typing `?function_name` into R

[2021-12-17 16:48] #179 closed

[2021-12-18 02:15] pchiang5 opened #180 "patternTest() failed to detect significant genes"
Hello,

I tried to detect differential gene expression patterns between 2 lineages with the following input:

[code]

With a particular gene_X, I got the following output:

However, the expression curves by the code below showed a clear difference between the expression patterns(figure below).
`plotSmoothers(gamList, assays(gamList)$counts, gene = c('gene_X'))`

![Untitled](https://user-images.git

[2021-12-19 09:28] koenvandenberge commented on #180
Hi @pchiang5,

Thank you for reporting this. The `patternTest` will compare a number of points along pseudotime between the two lineages. By default, it will compare `2k` points, with `k` the number of knots, and so 12 points will be compared in your case.
However, a comparison of some of these points will be linearly related to other points, and according to the design matrix and fit for that gen

[2021-12-20 19:47] Matthew1309 commented on #56
Hello, I have run into the same issue, and I was wondering if you could clarify how you found that gene 2099 was problematic? Did it not converge and thus show up as a FALSE when running this command from the vignette? ```table(rowData(sce)$tradeSeq$converged)```

Thank you in advance!

[2021-12-20 21:13] HectorRDB commented on #56
Hi @Matthew1309.
Sorry this was 6 months ago and I kept neither the email nor the data.. I think you can check the values of the sigma for each gene in `rowdata(sce)$tradeSeq` and see if some values are abnormal. I would expect some sigma values to be zero there, hence the issue.

[2021-12-22 04:55] pchiang5 commented on #180
Hi @koenvandenberge,

The `patternTest(nPoint = 12)` or even `patternTest(nPoint = 200)` did not help. (the df of this gene remained 2 even the others got larger values).

The `earlyRes(knots = c(4, 6))` worked. Thank you.

[2021-12-22 04:55] #180 closed

[2021-12-22 08:42] #175 closed

[2022-01-07 06:06] Sophia409 commented on #16
@koenvandenberge @Seandelao Hi, I am also interested in comparing one lineage vs. all other lineages. How did you finally solve it? Is this currently implemented?
Thank you.

[2022-01-09 07:26] Sophia409 opened #181 "How to understand different lengths of diverging lineages within a trajectory?"
Hi, all
My data contains 3 lineages that share a common initial state but branch and terminate at different clusters (2, 4, 5). Among these branching lineages, lineage 3 ends at pseudotime value 30. But lineage 1 and 2 reach to pseudotime value 40. Why lineage 3 ends so early? How to understand different lengths of pseudotime across lineages? Does it mean that cells in lineage 3 reach to the termi

[2022-01-10 15:10] kstreet13 commented on #181
Duplicate of https://github.com/kstreet13/slingshot/issues/169.
Responding there because this seems like more of a Slingshot issue.

[2022-01-10 15:10] #181 closed

[2022-01-12 16:24] Sophia409 opened #182 "Why DE genes for a specific lineage show similar pattern on heatmaps for other lineages?"
Hi, all

My data contains 4 lineages. But I’m only interested in lineage 2,3 and 4. I follow [this tutorial](https://kstreet13.github.io/bioc2020trajectories/articles/workshopTrajectories.html#visualization-of-de-genes) to fit GAM and assess DE along pseudotime. As we can see, the boxed columns contain specific genes for each lineage, which I think are important programs driving lineage-specific d

[2022-01-13 09:11] Sophia409 opened #183 "fitGAM with different gene sets got different results of fitting curves for the same genes"
Hi, all

Thanks for the wonderful package and tutorial!

I am reaching out for an issue with fitGAM(). When I was running fitGAM using 2000 variable features getting by Seurat:: FindIntegrationAnchors function, I had the following plot:
![图片](https://user-images.githubusercontent.com/30619010/149300176-38312b55-d63e-4683-85c0-25c3aa4975dd.png)
Then I used 767 marker genes from Seurat:: FindAllMark

[2022-01-13 09:43] koenvandenberge commented on #182
Hi @Sophia409,

Thank you for providing us with these plots and code to explain your question.

The lineage-specific `associationTest` as you have used it here will try to recover genes whose average expression varies significantly as a function of pseudotime, for each lineage separately. However, a gene recovered for a specific lineage (e.g., lineage 2) not for your other lineages of interest is

[2022-01-13 10:09] koenvandenberge commented on #183
Hi @Sophia409,

There are two reasons that can explain this.

First, for cells that cannot unambiguously be assigned to a specific lineage, `fitGAM` will hard-assign them to a specific lineage prior to fitting. There is some randomness involved in this process, as we use the Multinomial distribution based on the weights provided by Slingshot (or other trajectory inference method) to assign cells t

[2022-01-14 10:57] Sophia409 commented on #182
Hi, @koenvandenberge
Thank you very much. I copy your code, scale the gene-level fitted values across all lineages and then plot them. But things seem get more weird. As we can see from the following heatmaps, l2SpecificGenes show specific expression in lineage 3, l3SpecificGenes show specific expression in lineage 2, and l4SpecificGenes show specific expression in lineage 3. I can’t figure out ho

[2022-01-14 11:14] Sophia409 commented on #183
Hi, @koenvandenberge

Thank you very much.

Regarding the second reason you referred, I have to explain that I used different count matrixs (same cell with different genes) as input to fitGAM, not providing different genes as input. But the problems still exist, for example, the size factors used as normalization offsets will be different. Is that so?

[2022-01-18 15:37] cohenp05 opened #184 "Condition argument with design matrix"
Hello,

I'm using tradeSeq on a data set with 2 infection conditions each at 2 time points, plus a mock with each sample having 2-3 replicates and all samples split over 3 batches. I've prepared a design matrix to compare across infections (irrespective of timepoint) and model the batch effect as well (hopefully thereby making some use of the replicates also). My question is when I run fitGAM shou

[2022-01-25 13:59] koenvandenberge commented on #184
Hi @cohenp05,

If you are interested in comparing gene expression between conditions, we suggest adding the conditions through the `conditions` argument (as in option 2), but leaving it out of your design matrix you are providing through the `U` argument.

Hope this helps.

[2022-01-25 22:25] cohenp05 commented on #184
That's perfect. Thank you!

[2022-01-25 22:25] #184 closed

[2022-02-07 08:44] koenvandenberge commented on #183
Hi @Sophia409,

Yes, that is right, if you input different count matrices by subselecting different genes, the size factors will be (slightly) different.

[2022-02-14 13:45] haerin0106 opened #185 "How are trajectory numbers assigned?"
Hi, I have a slingshot output from single cell data with 3 trajectories that converge into one.

![image](https://user-images.githubusercontent.com/92518297/153874542-b96501ce-c77c-4862-a800-51c69d6cfae4.png)

I would like to find out differentially expressed genes that are associated with only the trajectory on the right.
I figured that I should use associationTest or startVsEndTest with the line

[2022-03-09 08:10] WeilerP commented on #164
@koenvandenberge, I am encountering the same issue as described in #73 when running a version of the [CellRank vignette](https://github.com/statOmics/tradeSeq/blob/master/vignettes/cellRankVignette.html). The progress of the `fitGAM` reaches 100% and then throws the error

[code]

The following warnings are issued as well

[code]

<details>
<summary> Code </summary>

[code]

</details>

<details>

[2022-03-09 08:18] koenvandenberge commented on #164
Hi @WeilerP,

Thanks for letting us know.  Do you mind sharing the `tradeseq_input.h5ad` file so we can take a look?

[2022-03-09 08:22] WeilerP commented on #164
Ah yes, sorry, forgot to add it. I guess this should work: [tradeseq_input.h5ad.zip](https://github.com/statOmics/tradeSeq/files/8212879/tradeseq_input.h5ad.zip).

[2022-03-13 18:46] koenvandenberge commented on #185
Hi @haerin0106,

Apologies for my late response. We use the lineage names provided by Slingshot. You are able to check which lineage number corresponds to which in the plot using `lines.SlingshotDataSet`. Please see the `linInd` argument in that function.

For example:

[code]

Hope this helps.

[2022-03-14 07:37] WeilerP commented on #164
@koenvandenberge, any update on this?

[2022-03-17 03:51] Biglinboy opened #186 "How to get difference gene list in different lineages between the two conditions"
Hi,

@koenvandenberge  @HectorRDB Thanks for developing this excellent software. My data contains contains 2 conditions and the 2 lineages. But I’m only interested in lineage 1. I have two questions, one is how to get the gene list and heatmap under a specific lineage,such as lineage 1; the second is how to get the difference gene list of the two groups under lineage 1. such as the figure in the l

[2022-03-21 10:10] koenvandenberge commented on #186
Hi @Biglinboy

If you are interested in lineage-specific results, you can set the `lineages=TRUE` argument in tests such as the `associationTest` or `startVsEndTest`. You will get results for each condition within each lineage, in the case of multiple conditions. You may want to adopt a fold-change threshold using the argument `l2fc`.

If you are interested in differences between conditions within

[2022-03-31 13:50] koenvandenberge commented on #164
Hi @WeilerP

My apologies for taking so long in getting back to you.
On my end, it seems to be related to the `SnowParam` specification of the parallelization. When I run the code below, it returns the error you state above.

[code]

However, specifying parallelization using `MulticoreParam` works, for me, as below

[code]

Does this also work for you?

[2022-04-05 08:16] WeilerP commented on #164
@koenvandenberge, yes, thank you, works like a charm!

Leads me to another question, though: How can you use the `plotGeneCount` function in this context? It requires the argument `curve` which is either an `SlingshotDataSet`, `SingleCellExperiment` or `CellDataset`. I'm constantly running into the "_Impossible to place a knot at all endpoints.Increase the number of knots to avoid this issue._" wa

[2022-04-08 15:47] jportman92 opened #187 "Running only one lineage"
Hi,

Thank you for developing this amazing package. I have a Pseudotime Object from slingshot that has 7 lineages. I initial attempted to run the `fitGAM` function on this object with a condition with two factors (WT and Mutant). Example below.
[code]

I quickly realised that this would take a large amount of time to run with the amount of computations needed, and implementing parallelisation did

[2022-04-11 15:25] koenvandenberge commented on #187
Hi @jportman92,

Thank you for posting, this is a great question.
One option would be to select all cells with non-zero assignment to your two lineages of interest, as below.

[code]

However, this means that if a particular cell has a weight of `0.01` to lineage 2 and a weight of `0.99` to lineage 3, it will be assigned to lineage 2, if we use this code. This is because it will be included in the

[2022-04-12 09:32] gabsax commented on #124
Hi @HectorRDB ,

Thank you for the amazing package it's very nice. I am also using TradeSeq to compare different conditions however I also have a visualization problem with plotSmoothers.

It seems like the curvesCols argument doesn't work for me. when I run:
curvesCols <- c("#339999", "#9E0142", "transparent")
plotSmoothers(sce, assays(sce)$counts, gene = "Bcl2", alpha = 0, border = F, curvesCols

[2022-04-12 16:37] jportman92 commented on #187
Hi @koenvandenberge

That is very helpful, thank you for your quick an extensive reply.
I agree that I feel there is some over-fitting, especially with lineages extending to "satellite" clusters and it is something I am looking to discuss with the collaborators and hopefully rectify. I had thought about the first approach to have an initial look at one of the lineages I was confident had existing

[2022-04-13 09:28] koenvandenberge commented on #187
Hi @jportman92

The message about the knots is not a warning, it is just a message to let you know that we are deviating from our default implementation. In your setting, this is not unsurprising as you had specified 8 knots and had 7 lineages. So if you would want to have knots at all endpoints you'd have one knot at pseudotime=0 and the other 7 knots would be reserved for each of the 7 endpoints

[2022-04-14 08:33] jportman92 commented on #187
Hi @koenvandenberge

Thank you for clearing up my misinterpretation and your advice regarding the number of knots.
Also thank you for taking the time to answer these questions, its greatly appreciated and helps a lot.

All the best

[2022-04-14 10:03] koenvandenberge commented on #187
Glad you found it helpful! Let us know if any other questions pop up.

[2022-04-14 10:03] #187 closed

[2022-04-14 21:21] tbrunetti opened #188 "Advice on interpreting evaluateK() graphs"
I am using the `evaluateK()` function to determine how many knots I should include when fitting the generalized additive model for genes associated with changes along a trajectory.  I am using the Monocle3 pseudotime results and adapting it to work with the tradeSeq workflow (for example setting cellWeights to be 1 for everything since Monocle3 has pseudotimes of 0's that cause mathematical errors

[2022-04-19 11:25] grimwoo opened #189 "fitGAM error: Error in vapply(slingCurves(x), function(pc)"
Thanks for development of such a nice package. Here, I encountered error in function `fitGAM `.

the original object contains 44123 cells, which may be the reason of memory issue.
`> sce`
`class: SingleCellExperiment
dim: 68837 44123
metadata(0):
assays(2): counts logcounts
rownames(68837): SAMD11 NOC2L ... Gm29554 FOXD1
rowData names(0):
colnames(44123): hsa.w6.10x_AAACCCATCGTGTGAT-1 hsa.w6.10x_A

[2022-04-19 11:35] grimwoo commented on #189
I found the same result between `slingCurves(sce.subset)` and `slingCurves(sce)`. The subset function may failed in subset of the slingshot output inside `sce` object . Does anyone knows the correct way ?

[2022-04-19 11:47] koenvandenberge commented on #189
This is a question that may be better directed to @kstreet13 on the Slingshot GitHub repository.

[2022-04-19 15:37] kstreet13 commented on #189
Yes, I think this is a Slingshot issue and it's related to the `SlingshotDataSet` class. I managed to reproduce it like this:
[code]

The (now default) PseudotimeOrdering object doesn't rely on the curves in order to get pseudotime values, but the SlingshotDataSet does. This was actually a conscious design choice on my part. The curves are generally used for plotting and understanding how the psue

[2022-04-20 02:10] grimwoo commented on #189
Thanks! @koenvandenberge

[2022-04-20 02:10] #189 closed

[2022-04-22 03:20] apekshasingh opened #190 "Question about fitGAM function"
Hi there and thanks for your package.  In your manuscript it says, "the cubic basis functions bk(t) are enforced to be the same for all genes and lineages".  I was wondering if you could share a bit more about how this is implemented in your code.  Under the fit models section, it appears that the counts_to_Gam function is called for each gene.  Is it the id variable passed to the smoother or some

[2022-04-28 19:18] carbycrab opened #191 "Running tradeseq fitgam with conditions"
Hello,

Thank you for creating such an innovative package. We have been trying to run fitgam with conditions, however the job never seems to finish. Our data consists of ~7K cells and ~40K genes across 4 lineages (2 conditions each lineage). We successfully ran fitgam on all cells without specifying conditions, (took under a week). Unfortunately, when we try running fitgam with conditions on all t

[2022-05-02 20:59] JesseRop opened #192 "plotGeneCount for 2nd and 3rd dimensions"
Dear developers,
Many thanks for the great package!

Kindly inform if it is possible to visualize UMAP dimensions 2 and 3 instead of dimensions 1 and 2 for the plotGeneCount function?
Thanks

[2022-05-03 04:55] tbrunetti commented on #188
Thank you so much! This helps a ton!

[2022-05-03 04:55] #188 closed

[2022-05-03 07:25] koenvandenberge commented on #190
Hi @apekshasingh ,

Thanks for your question.
First, we enforce the same knot points for all lineages by providing these along in the `mgcv::gam` function. This happens [here](https://github.com/statOmics/tradeSeq/blob/master/R/fitGAM.R#L295).
The `id` variable indeed enforces the same smoothness (the same penalty parameter) and basis for all lineages. From `?mgcv::s`:

          smoothing paramet

[2022-05-03 07:52] HectorRDB commented on #192
Hi Jesse,
It's not possible directly. You can browse the code [here and adapt it](https://github.com/statOmics/tradeSeq/blob/16a61a29cb3cd245d41e7feb29bcb39b197377f3/R/plotGeneCount.R#L15), or just temporally reorder the dimensions of the UMAP matrix to trick the function.

[2022-05-04 01:47] apekshasingh commented on #190
Thank you for your response!

[2022-05-04 01:48] #190 closed

[2022-05-26 05:31] lihong911002 opened #193 "function of extract_monocle_info"
hi,
      Now, I can't find the function of extract_monocle_info. Can you tell me how to get it?

Li Hong
best wishes

[2022-05-26 08:35] koenvandenberge commented on #193
Hi @lihong911002

We have removed that function from the package, since the installation of `Monocle` was consistently having errors. Therefore, the Bioconductor builds were also failing to install `tradeSeq`.

[2022-05-27 10:40] HectorRDB commented on #193
Hi,
You can find the function here
<https://github.com/statOmics/tradeSeq/blob/2c4358b5f72fa1c04140c2773ff975ff7f7ce329/R/extract_monocle_info.R>
on previous versions if you want.
Best

On Thu, May 26, 2022 at 10:35 AM Koen Van den Berge <
***@***.***> wrote:

[2022-05-31 11:30] koenvandenberge commented on #182
Hi @Sophia409 ,

Note that the scales are pretty different between the heatmaps. I think you may consider revisiting that interpretation once you set fix all heatmaps to have the same scale. These visualizations can be hard to get right. For example, in your last plot, the heatmap looks almost entirely blue because of this one extremely high value at ~17.
You may consider to set the breaks of your

[2022-05-31 11:32] #183 closed

[2022-05-31 11:32] #185 closed

[2022-05-31 11:33] koenvandenberge commented on #186
Closing due to inactivity, feel free to reopen if other issues would arise.

[2022-05-31 11:33] #186 closed

[2022-05-31 11:43] koenvandenberge commented on #191
Hi @carbycrab

Apologies for the delay in getting back to you.
The long runtime of `fitGAM` is a known issue. We have some ideas to speed it up, but have not yet been able to implement a reliable speed-up. Especially when fitting with multiple conditions, the fitting can take long, as the estimation of the regression coefficients becomes very hard.

You may try parallelization, but this can also h

[2022-06-07 04:02] lihong911002 opened #194 "plotSmoothers error"
hi, all
      When I use plotSmoothers of tradeSeq, there is a error as below:
unable to find an inherited method for function ‘plotSmoothers’ for signature ‘"list"’.
      How can I solve this problem?

Li Hong
Best wishes

[2022-06-09 23:58] DustinSokolowski opened #195 "plotSmoothers for the Condition Test - plotting conditions instead of lineages."
Hey!

Thank you for the amazing tool. I have been using tradeSeq to both trace lineages as well as look at differences in conditions within a lineage using the ConditionTest. I was wondering if you've considered adding a function that produces the output of plotSmoothers but instead of plotting lineage 1 and 2 for a specific gene or cluster it would plot condition 1 or 2 for a lineage. I'm sorry i

[2022-06-10 02:21] ljy-sys commented on #186
Hellow, teacher, I want to know how to draw the figure two .b? plotSmoother function? and how to draw the 95% confidence interval？

[2022-06-22 09:54] hiuchi opened #196 "patternTest and earlyDETest return exact same p values."
Thanks for providing a great package.

I tried patternTest and earlyDETest with demo data and got the exact same p values.
Is this correct behavior?

Best,

[code]
[code]

[2022-06-22 11:30] HectorRDB commented on #196
Hi @hiuchi
In order to use the earlyDE, you need to specify a set of knots (probabbly 1 and 2), for what you define as "early" in your lineages.
Otherwise, they are indeed identical. However, you are right that we should make the documentation clearer. Thanks for flagging this.

[2022-06-22 12:06] hiuchi commented on #196
Hi, HectorRDB

I see, and again, thank you for providing nice software!!

[2022-07-12 14:17] JensFGG opened #197 "Error in `.rowNamesDF<-`(x, value = value) : invalid 'row.names' length"
Hi,

I have an integrated Seurat dataset which I used to create an SCE according to the code below.

However, when running the last part fitGAM it gives me an error that rownames length has an invalid length. However, if I check the count matrix, pseudotime and cellweights the input is exactly the same. Due to the complexity the seurat object it is difficult to create a reproducible dataset. Sorry

[2022-07-12 18:53] carbycrab opened #198 "Aesthetic addition to PlotSmoothers"
Hello,

tradeSeq is such a wonderful package! Thank you for creating such a streamlined, innovative tool. I have one feature request for the PlotSmoothers function.

**Is your feature request related to a problem? Please describe.**
While you may remove the border of the transparent hidden lineages, you can still see the outlines of the transparent dots of the hidden lineages' expression over the

[2022-07-12 19:56] koenvandenberge commented on #198
Hi @carbycrab,

Thank you for the suggestion and for taking the time to take a look at the code.
Could you please suggest the changes via a pull request? It would allow us to work on the code together, while taking advantage of the `tradeSeq` tests and, as bonus points, it should add you as a contributor to the repository.

[2022-07-13 17:03] irenerh opened #199 "Wald statistics problem with associationTest"
Hello,

I’m running `associationTest` using default settings but applying a l2fc cut-off:
`ATres <- associationTest(models = sce, global=TRUE, lineages = TRUE, l2fc = log2(1.3))`
The results show extremely high Wald statistics values for the significant genes. However this issue is not happening when I remove the l2fc argument.
I was using the version 1.8.0. I just updated it to the most recent ve

[2022-07-14 08:04] JensFGG commented on #197
I found where the error comes from. The genes function only accepts a range and not a single gene (number).

Not sure if it is possible, but can you add a comment to this error?

[2022-07-15 06:56] rmenafra commented on #173
Hi @HectorRDB
I'm having the same issue, specifically I saved the results of fitGAM in a .RDS file and reload that in my .Rmd (to reduce computing time), but this is the error I get.
I'm using the latest Tradeseq and already tried the suggestion above. The dataset is not the one from the tutorial but my own. Would there be a reason not to save the result of fitGAM and then reload it? Thank you

[2022-07-15 08:41] HectorRDB commented on #173
Hi @rmenafra
Just to be sure: you used the most recent version of tradeSeq both to generate the object and to then analyze it?
In general, there should be no issue to saving the FitGam object and then re-loading it.
Do you have an issue just with plotSmoothers or also with other functions.

[2022-07-15 08:44] HectorRDB commented on #197
Hi @JensFGG
Thanks for digging into this yourself. Could you let me know what you mean by gene function? I'll update the vignette to reflect this.
Alternatively, you can provide a pull request to the tradeseq paper repo and thus be listed as a contributor :)

[2022-07-15 08:51] rmenafra commented on #173
Hi Hector, thanks for the quick reply, yes I recreated the object after the update, and the first function that gave me issues is plotSmoothers. Is there a way to verify which version was used from the RDS object?

[2022-07-15 08:57] HectorRDB commented on #173
No unfortunalty that is not something that we store (also maybe we should @koenvandenberge ).
Is the gene that poses an issue the same with `sce` and `sce1`. If so, I am unsure what is going on. Could you send me the object at hector dot rouxdebezieux at gmail dot com ? Thanks

[2022-07-19 13:51] rmenafra commented on #173
Hi @HectorRDB, I believe my issue was related to my .rmd and not directly to the package version, I was creating a slingshot object with the same name prior to loading the result of FitGam in the .rmd. I sent you the RDS but I solved the issue anyway by assigning a different name to the object.
Thanks for your time, you can close the issue.

[2022-07-19 19:42] HectorRDB commented on #173
Thanks got it

[2022-07-19 19:42] #173 closed

[2022-07-22 09:15] JensFGG commented on #197
Hi @HectorRDB ,

I am not a developer, but I'm going to try and make pull request. I've just made a fork and I'll keep you updated. If I won't manage to fix it, I will reach out.

[2022-07-25 17:39] AnjaliC4 opened #201 "Error: value for ‘L’ not found"
Hi , thanks for this awesome tool!

I have one lineage and wanted to compute associationTest on 4 conditions (maleCase, femaleCase, maleControl, femaleControl). I don't get this error with just two conditions but with 4 I do get it. I have tried increasing the number of genes in fitGAM and setting no logFC threshold in association test, yet the issue exists. Is it not possible to test 4 conditions

[2022-07-26 20:43] koenvandenberge commented on #195
Hi @DustinSokolowski,

My apologies for being so slow in responding and thank you for the suggestion - we have not implemented this. By default we plot all lineages and conditions.
Feel free to create a pull request if you have developed this. Alternatively, if you need a quick hack, you can always play around with the ggplot2 object that is returned when running `plotSmoothers` and only plotting

[2022-07-27 16:58] e-manduchi opened #202 "Error with slingshot slingPseudotime and slingCurveWeights after using fitGAM from tradeSeq"
Hello,
I reported this issue on the Bioconductor forum and was advised to submit it here. A detailed description is at
https://support.bioconductor.org/p/9145680/#9145699, but in a nutshell what I have happening is that, for a SCE col.sce, the class of col.sce$slingshot appears to be changed from PseudotimeOrder (before application of fitGAM) to DataFrame (after application of fitGAM).
Thanks for

[2022-08-01 15:58] e-manduchi commented on #202
This seems to be resolved after an update of the package versions for slinghot and tradeSeq as indicated here https://support.bioconductor.org/p/9145680/#9145778.

[2022-08-02 12:36] koenvandenberge commented on #199
Hi @irenerh ,

This is a valid concern and it is a known issue. Due to our implementation, it can be difficult to invert the variance-covariance matrix for the `associationTest` when a fold-change cut-off is used. We hope, however, that the gene ranking is still useful.

[2022-08-02 12:37] koenvandenberge commented on #202
Thank you @e-manduchi for letting us know, let us know if you would encounter any further issues.

[2022-08-02 12:37] #202 closed

[2022-08-02 12:39] koenvandenberge commented on #201
Hi @AnjaliC4,

Thank you for reporting. I have not worked with 4 conditions yet, although I am sure the `conditionTest` works with three conditions since we did that in the `condiments` paper, so I would think that 4 conditions would work just as well. Can you confirm that the `conditionTest` works as expected?

For the `associationTest`, are you getting the same error when setting `lineages=FALSE

[2022-08-02 13:37] choiismath opened #203 "What does the order of gene clusters means?"
After this step in the tradeSeq workflow,
`clusPat <- clusterExpressionPatterns(sce, nPoints = nPointsClus, genes = rownames(counts)[1:100])`
`clusterLabels <- primaryCluster(clusPat$rsec)`
the genes are clustered into each cluster.

At this point, what does the order of gene clusters means?
Does the gene clusters with the highest dissimilarity between lineages be assigned to cluster 1?
Or is the

[2022-08-02 13:56] HectorRDB commented on #203
Hi @choiismath
The cluster labels do not reflect any specific ordering, you could rename them as you wish.

[2022-08-03 02:35] DustinSokolowski commented on #195
Hey!

Thank you so much for your help! I ended up having few enough lineages that I could plot both conditions so the below code did the trick assuming the fitGam function had both conditions. Again, thank you again for the wonderful tool, it made a big difference in multiple projects.

`plotSmoothers(sce, assays(sce)$counts, gene = "myGene", alpha = 1, border = TRUE) + ggtitle("myGene")`

[2022-08-03 03:41] #195 closed

[2022-08-03 07:41] HectorRDB commented on #192
Closing due to inactivity.

[2022-08-03 07:41] #192 closed

[2022-08-11 13:03] koenvandenberge commented on #198
Pull request #200 was merged, thanks!

[2022-08-11 13:03] #198 closed

[2022-08-11 13:05] koenvandenberge commented on #182
Closing due to inactivity, feel free to reopen if needed.

[2022-08-11 13:05] #182 closed

[2022-08-11 13:05] #193 closed

[2022-08-11 13:05] koenvandenberge commented on #194
Closing due to inactivity, feel free to reopen if needed.

[2022-08-11 13:05] #194 closed

[2022-08-11 13:06] #196 closed

[2022-08-11 13:16] koenvandenberge commented on #201
I just tried this on a dataset and can confirm that `fitGAM`, `conditionTest` and `associationTest` should work with four conditions, also when setting `lineages=TRUE` in `conditionTest` and `associationTest`, so I am unable to reproduce this issue.

[2022-08-16 08:25] wangmhan opened #204 "can tradeSeq be applied to identify dynamic motifs in scATAC data?"
Thank you for develop the software!

I'm working on scATAC-seq data. It would be interested to identify dynamic motifs along development trajectory.

But for motif data, I don't have raw count. What I have is scaled motif activity matrix generated by chromVAR (Signac::RunChromVAR).
I wonder if it is ok to use this matrix as input counts for function fitGAM, or I need to first log transfered? If ye

[2022-08-16 19:18] JuanXie19 opened #205 "consecutive contrast gives p values either 0 or 1"
Dear tradeSeq development team,

I am using tradeSeq for DE analysis. I have just one lineage and I tried the associationTest function. However, it is found that when contrastType='consecutive', the resulting p values are either 0 or 1, which I think is weird (when I use contrastType='start', the p values range from 0 to 1, not just 0 or 1). Could you help and check what's wrong?

Here is my code:

[2022-08-25 11:13] dcruz5h opened #208 "can TradeSeq be use to fit GAMs on Regulon Activity scores (scenic output)and pseudo time ?"
I recently used scenic to quantify regulon activity in my single cell RNAseq data ( patters of co expression between a transcription factor and its putative targets). The single cell scores (AUCell) from this analysis run between 0 to 1.

I would like to use TradeSeq to fit GAMs on each of my regulons (~300) on 10 pseudotime lineages obtained from slingshot between two conditions (control and test

[2022-08-30 07:59] pavsol opened #209 "associationTest gives NA for well-expressed genes"
Hi,
I am experiencing an issue with NA values coming from `associationTest()` similar as mentioned in #117. Only meanLogFC values are not NA.
I am running an association test without any gene limitation, thus, there are also sparsely expressed genes and I can expect some NAs. However, I got NA values even for well-expressed genes that are obviously associated with pseudotime progression which we c

[2022-08-30 23:16] gomeznick86 commented on #209
Hey @pavsol , I'm running into the same problem. Reducing the number of nPoints (2 * 6 knots =12 , to 10) seemed to significantly reduce the number of NAs generated. I'm not exactly sure why this is the case? Maybe sampling less is better? Hopefully one of the Devs has a much more statistically sound reason.

[2022-08-31 09:00] pavsol commented on #209
Hi @gomeznick86
Thank you for sharing this observation. I re-fitted data using 5 knots which seem enough for my simple lineage. Then, the association test gave me only 3599 NAs with default 10 nPoints and only 237 NAs using 8 nPoints.

[2022-09-01 16:09] Evenlyeven opened #210 "Question about the number of converged genes"
Thanks for developing the wonderful package!

I am checking how many genes in my dataset are converged after GAM fitting. By using the command `table(rowData(sce.epi)$tradeSeq$converged)`, I got
`FALSE  TRUE `
` 3898 20718 `
I wonder if the unconverged gene rate shown above is acceptable. Any suggestion about cutoff value of converged gene number or rate?

Thank you in advance!

[2022-09-06 07:31] koenvandenberge commented on #204
Hi @wangmhan

I have no real experience working with motif activity matrices, so I am not sure how much I can comment on this.
That said, if you think that assuming a Gaussian distribution on the motif activities (or that the central limit theorem could hold), you could run `fitGAM` and set `family = "gaussian"`.

Hope this helps.

[2022-09-06 07:38] koenvandenberge commented on #205
Hi @JuanXie19

Note that you are rounding all results of the `associationTest` with the `round` function, which explains the distribution you are observing. You probably do not want to do that.

[2022-09-06 07:40] koenvandenberge commented on #208
Hi @dcruz5h

In principle you can do this. However, note that the SCENIC regulon activity scores are based on `AUCell` and are basically AUC values ranging between 0 and 1. A count distribution will therefore not be appropriate and you would want to consider using other parametric distributions to model these scores. You can change distribution in `fitGAM` using the `family` argument.

Hope this h

[2022-09-07 09:58] dcruz5h commented on #208
Thank you !! I will consider this !

[2022-09-07 09:58] #208 closed

[2022-09-20 12:08] #204 closed

[2022-09-20 12:09] #205 closed

[2022-09-26 12:10] nickhir opened #213 "Unexpectedly high number of genes associated with pseudotime"
Hello,

I am using `tradeSeq` downstream of `slingshot`. `slingshot` has identified 6 different trajectories, that upon closer inspection seem biologically meaningful.
I wanted to use `tradeSeq` to identify genes whose expression is associated with the pseudotime of the respective trajectory.
Afterwards I used the `plotSmoothers` function to visually inspect some of the results. Here I noticed for

[2022-09-29 07:58] koenvandenberge commented on #210
Hi @Evenlyeven

We do not really have cut-offs for this. What we have seen is that it may be that many of the genes that do not converge are lowly expressed in general, having zero expression in most cells and higher expression in a few others.  You may want to check this out.

Hope this helps.

[2022-09-29 08:01] koenvandenberge commented on #213
Hi @nickhir

Thanks for reporting, this is quite peculiar indeed. Do you mind sharing the `sce` object after running `fitGAM`, and also let us know what version of `tradeSeq` you are using?

Thanks,
Koen

[2022-10-07 16:03] jblich870 opened #214 "Tradeseq with custom Gene x Pseudotime matrices"
Hi,

I have a single cell multiomics (RNA + ATAC seq) dataset, and have used another programme (ArchR) to generate pseudotime trajectories. I have 2 trajectories of interest - for each I have a matrix with genes in rows and pseudotime (1 to 100) in columns. The values in the matrix reflect expression of the gene at each point along pseudotime (scaled to -1.5 to 1.5). I also have motif x pseudotime

[2022-10-14 08:38] SeverinMe0 opened #215 "Error when using evaluateK and fitGAM functions"
Hello,
Thank you very much for developing such tool.
I would like to report an issue I wasn't able to solve, although similar problems have been pointed before.
I tried to reinstall the latest library but it didn't worked.

**Description**

**To Reproduce**
If possible, describe steps to reproduce the bug you are facing by, e.g., providing a minimal working example. Feel free to share (a subset of

[2022-10-14 14:13] nickhir commented on #213
Sorry for getting back so late. I talked to the person who generated the data and he is fine with me sharing it. What do you think is the best way to transfer the data? The object is 60MB in size.

[2022-10-18 07:22] jpblich commented on #214
Just to add: the trajectory function implemented within ArchR has been adjusted so that it now provides 1) each cell's position along a given trajectory, and 2) a distance value for each cell to the trajectory. It should therefore be possible to calculate cell weights using these distance values.

[2022-10-19 18:01] jgilis opened #216 "Remove spurious rowData calls in hypothesis tests."
At the moment, the different hypothesis tests run slower on GAM object than on SCE objects.
This is because of spurious `rowData`  calls, which are required for obtaining the betas and sigmas, inside a `lapply` loop.
For example in `diffEndtest`: https://github.com/statOmics/tradeSeq/blob/84ab467c80d53b0b92094aa3014e67495f7fe08d/R/diffEndTest.R#L87

Suggested enhancement: move the `rowData` call u

[2022-10-20 09:45] KemperNiklas opened #217 "Question about lineage assignment"
Hi,

I just wanted to ask if there is a reason why you first draw for every cell a lineage (based on the weights) and not just directly work with the probabilities, i.e. why is Z a binary matrix and not a matrix of probabilities.
Additionally, is the Single Cell Experiment output preferred in order to use a common widely used object? I am asking because in the code it looks like new prediction see

[2022-10-20 12:09] koenvandenberge commented on #214
Hi @jpblich

It's certainly possible to use custom pseudotime and cell-level weights matrices as input. Please see the `pseudotime` and `cellWeights` argument in `fitGAM`. This is also done in our tradeSeq vignette which you can find on the Bioconductor website of our package.

You may want to think about the parametric assumption that you will be making on your response variable. For example, the

[2022-10-20 12:10] #199 closed

[2022-10-20 12:10] koenvandenberge commented on #201
Closing due to inactivity, feel free to reopen if needed.

[2022-10-20 12:10] #201 closed

[2022-10-20 12:11] koenvandenberge commented on #203
Closing due to inactivity, feel free to reopen if needed.

[2022-10-20 12:11] #203 closed

[2022-10-20 12:22] koenvandenberge commented on #217
Hi @KemperNiklas

It is theoretically certainly possible to use the probabilities as such in the model fitting. In `tradeSeq` we made the pragmatic decision to not do so. Please see #164 for a discussion on this.
We do recommend to work with the SCE output. I have to say I am not sure what you mean with the new prediction statement. Could you please clarify?

[2022-10-20 12:57] jpblich commented on #214
Hi,

Many thanks for the reply, that's really helpful.

Please could you advise on the best way to calculate cell weights with the distance values output by ArchR? The distances are "Euclidean distance of each cell to the nearest point along the manifold" (from: https://www.archrproject.com/bookdown/trajectory-analysis-with-archr.html).

I thought perhaps to assign a weight between 0 and 1 based o

[2022-10-21 12:38] lengfei5 opened #218 "Question of cutomized trajectory and pseudotime calculation"
Hi tradeSeq team,

Thank you so much for this fantastic package, which is just exactly what I need.

Because I did not use slingshot or monocle to construct the trajectory and pseudotime, I would like to know how to construct
- pseudotime
- cellWeights
for evaluateK and fitGAM functions from.

In our data, there is one very clear bifurcation and I have fitted two trajectories separately with princ

[2022-10-21 18:29] lengfei5 commented on #218
Hi there again,

I found a similiar question in https://github.com/statOmics/tradeSeq/issues/146

The answer was:
"Each cell will need to have a pseudotime value in both lineages. Since each cell is assigned to only one lineage (the weights are respectively zero and one), it does not matter what value we pick so for simplicity, we can just duplicate the pseudotime values. But it would work the sam

[2022-10-24 18:55] JesseRop opened #219 "Enquiry on downsampling to ensure balance of conditions along pseudotime for conditionTest"
Dear developers,

Thank you very much for this great tool.
I am doing DE between 2 conditions which are unbalanced along pseudotime and I am trying to understand whether downsampling is necessary as this results in loss of cells and hence power.

This is my original dataset

![image](https://user-images.githubusercontent.com/18431376/197603328-6aeb505a-80d7-4f5d-bc73-e517ef222846.png)

I have then

[2022-10-25 08:22] HectorRDB commented on #219
Hello,
There is no need to downsample. The covariance matrix of the coefficients of each condition will incorporate the number of samples in that uncertainty, which will also be reflected in the `conditionTest`.

In your case though, the red condition does not seem to follow a trajectory be to form very clear clusters. I would therefore just be careful to the number of knots and be sure to test us

[2022-10-28 16:32] Sa753 opened #220 "Running time for fitGAM"
Dear team,

I have a problem with running fitGAM as it keeps running for hours without any output then after 5h of running it came up with this message

+               nknots = 5)
Fitting lineages with multiple conditions. This method has been tested on a couple of datasets, but is still in an experimental phase.
  |+                                                 | 1 % ~08d 09h 38m 34sWarning m

[2022-11-04 21:13] SierraN commented on #209
Hello,

I'm having a similar issue with the fitGAM output contain exceedingly large amounts of NA's. I'm new to this package and I'm wondering if perhaps one of my arguments is incorrect. I start with slingshot, which identifies 5 lineages. I indicated a starting cluster, and UMAP dimension reduction. Then, for the fitGAM, I condition on case status (2 conditions) and use 8 knots. I've been parall

[2022-11-08 11:26] jpblich commented on #214
Answered here:
https://github.com/kstreet13/slingshot/issues/205

[2022-11-12 18:55] JesseRop commented on #219
Dear @HectorRDB ,

Many thanks for your response. It is very helpful!
Biologically we expect that the cluster in the red condition at the very terminal end (bottom right) is a much more developmentally advanced population than all the other cells.

I have been able to run `fitGAM` (with `nknots` = 6) and then `conditionTest` with 'log2(1.25)' threshold in `l2fc` argument.

Using `plotSmoothers` to

[2022-11-21 15:38] cgoneill commented on #201
I ran into the same error with an example dataset (data from [Satpathy and Granja et al., 2019](https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE129785); preprocessed according to [this vignette](https://stuartlab.org/signac/articles/monocle.html#building-trajectories-with-monocle-3)) that I was using to test a new pipeline; the subset of the dataset I'm working with only has one condition. I

[2022-11-24 11:33] Sidy2015 opened #222 "Add curves Labels to plotGeneCount"
Dear TradeSeq Team,

i have a SCE model
U <- model.matrix(~ 0 + seu$orig.ident)
sce <- fitGAM(counts = counts,
              sds = curves, U=U )

I want to plot the curves for each lineage and show the labels at the end of each curve  (e.g L1, L2, ...).
Is it a way to do it?
I also try to add a facet_grid but it doesn't work.
Thank you in advance for your help

[2022-11-29 07:02] derekrusso commented on #220
Hi there,
I am also a slingshot+condiments+tradeSeq user. I think I have some thoughts to this problem.
1, Note that fitGAM function sets 'parallel = F' by defualt. So simply setting BPPARAM is not enough.
2, please also check the dimensions & lineages of your data. Avoid unnecessary computational burden. I would only use highly variable genes (instead of ALL GENES) on one or two lineages & condit